<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.center.PageErrorLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.center.PageErrorLog">
        <id column="id" property="id" />
        <result column="app_name" property="appName" />
        <result column="user_info" property="userInfo" />
        <result column="err_msg" property="errMsg" />
        <result column="route" property="route" />
        <result column="error_line" property="errorLine" />
        <result column="err_detail" property="errDetail" />
        <result column="err_time" property="errTime" />
    </resultMap>

</mapper>
