<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.center.QaQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.center.QaQuestion">
        <id column="id" property="id"/>
        <result column="question" property="question"/>
        <result column="answer" property="answer"/>
        <result column="audio_url" property="audioUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="base_sql">
        id, question, answer, audio_url, create_time, update_time
    </sql>
    <select id="selectKeyWordsAndQuestion" resultType="java.util.Map" parameterType="map">
        select qq.id, qq.answer, qkw.key_words keyWords, qq.audio_url url, qq.question
        from qa_question qq,
             qa_key_words qkw,
             qa_key_words_question qkwq
        where qq.id = qkwq.question_id
          and qkw.id = qkwq.key_words_id
    </select>
    <select id="selectByQuestion" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from qa_question
        where question like concat('%', #{question}, '%')
        limit 1
    </select>

</mapper>
