<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.center.WeChatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.center.WeChat">
        <id column="id" property="id"/>
        <result column="open_id" property="openId"/>
        <result column="we_chat_name" property="weChatName"/>
        <result column="we_chat_img_url" property="weChatImgUrl"/>
    </resultMap>

    <sql id="base_sql">
        id,open_id,we_chat_name,we_chat_img_url
    </sql>

    <select id="selectByOpenId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from we_chat where open_id=#{openId}
    </select>


</mapper>
