<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidejiaoyu.common.mapper.simple.RankListMapper">
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.RankList">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="student_id" property="studentId" jdbcType="BIGINT"/>
        <result column="school_day_rank" property="schoolDayRank" jdbcType="INTEGER"/>
        <result column="school_week_rank" property="schoolWeekRank" jdbcType="INTEGER"/>
        <result column="school_month_rank" property="schoolMonthRank" jdbcType="INTEGER"/>
        <result column="school_lowest_rank" property="schoolLowestRank" jdbcType="INTEGER"/>
        <result column="country_week_rank" property="countryWeekRank" jdbcType="INTEGER"/>
        <result column="country_day_rank" property="countryDayRank" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, student_id, school_day_rank, school_week_rank, school_month_rank, school_lowest_rank,
        country_week_rank, country_day_rank
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhidejiaoyu.common.pojo.RankListExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from rank_list
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from rank_list
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from rank_list
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.zhidejiaoyu.common.pojo.RankListExample">
        delete from rank_list
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>

    <insert id="insertSelective" parameterType="com.zhidejiaoyu.common.pojo.RankList">
        insert into rank_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="studentId != null">
                student_id,
            </if>
            <if test="schoolDayRank != null">
                school_day_rank,
            </if>
            <if test="schoolWeekRank != null">
                school_week_rank,
            </if>
            <if test="schoolMonthRank != null">
                school_month_rank,
            </if>
            <if test="schoolLowestRank != null">
                school_lowest_rank,
            </if>
            <if test="countryWeekRank != null">
                country_week_rank,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="studentId != null">
                #{studentId,jdbcType=BIGINT},
            </if>
            <if test="schoolDayRank != null">
                #{schoolDayRank,jdbcType=INTEGER},
            </if>
            <if test="schoolWeekRank != null">
                #{schoolWeekRank,jdbcType=INTEGER},
            </if>
            <if test="schoolMonthRank != null">
                #{schoolMonthRank,jdbcType=INTEGER},
            </if>
            <if test="schoolLowestRank != null">
                #{schoolLowestRank,jdbcType=INTEGER},
            </if>
            <if test="countryWeekRank != null">
                #{countryWeekRank,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertList" parameterType="map">
        insert into rank_list (id, student_id, school_day_rank,
        school_week_rank, school_month_rank, school_lowest_rank,
        country_week_rank) values
        <foreach collection="rankLists" item="rankList" separator=",">
            (#{rankList.id,jdbcType=BIGINT}, #{rankList.studentId,jdbcType=BIGINT},
            #{rankList.schoolDayRank,jdbcType=INTEGER},
            #{rankList.schoolWeekRank,jdbcType=INTEGER}, #{rankList.schoolMonthRank,jdbcType=INTEGER},
            #{rankList.schoolLowestRank,jdbcType=INTEGER},
            #{rankList.countryWeekRank,jdbcType=INTEGER})
        </foreach>
    </insert>
    <select id="countByExample" parameterType="com.zhidejiaoyu.common.pojo.RankListExample"
            resultType="java.lang.Integer">
        select count(*) from rank_list
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <select id="selectRankListMap" resultMap="BaseResultMap">
        SELECT
           <include refid="Base_Column_List"/>
        FROM
            rank_list r
    </select>
    <select id="selectByStudentId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from rank_list where student_id = #{studentId} limit 1
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update rank_list
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.studentId != null">
                student_id = #{record.studentId,jdbcType=BIGINT},
            </if>
            <if test="record.schoolDayRank != null">
                school_day_rank = #{record.schoolDayRank,jdbcType=INTEGER},
            </if>
            <if test="record.schoolWeekRank != null">
                school_week_rank = #{record.schoolWeekRank,jdbcType=INTEGER},
            </if>
            <if test="record.schoolMonthRank != null">
                school_month_rank = #{record.schoolMonthRank,jdbcType=INTEGER},
            </if>
            <if test="record.schoolLowestRank != null">
                school_lowest_rank = #{record.schoolLowestRank,jdbcType=INTEGER},
            </if>
            <if test="record.countryWeekRank != null">
                country_week_rank = #{record.countryWeekRank,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update rank_list
        set id = #{record.id,jdbcType=BIGINT},
        student_id = #{record.studentId,jdbcType=BIGINT},
        school_day_rank = #{record.schoolDayRank,jdbcType=INTEGER},
        school_week_rank = #{record.schoolWeekRank,jdbcType=INTEGER},
        school_month_rank = #{record.schoolMonthRank,jdbcType=INTEGER},
        school_lowest_rank = #{record.schoolLowestRank,jdbcType=INTEGER},
        country_week_rank = #{record.countryWeekRank,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhidejiaoyu.common.pojo.RankList">
        update rank_list
        <set>
            <if test="studentId != null">
                student_id = #{studentId,jdbcType=BIGINT},
            </if>
            <if test="schoolDayRank != null">
                school_day_rank = #{schoolDayRank,jdbcType=INTEGER},
            </if>
            <if test="schoolWeekRank != null">
                school_week_rank = #{schoolWeekRank,jdbcType=INTEGER},
            </if>
            <if test="schoolMonthRank != null">
                school_month_rank = #{schoolMonthRank,jdbcType=INTEGER},
            </if>
            <if test="schoolLowestRank != null">
                school_lowest_rank = #{schoolLowestRank,jdbcType=INTEGER},
            </if>
            <if test="countryWeekRank != null">
                country_week_rank = #{countryWeekRank,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhidejiaoyu.common.pojo.RankList">
        update rank_list
        set student_id         = #{studentId,jdbcType=BIGINT},
            school_day_rank    = #{schoolDayRank,jdbcType=INTEGER},
            school_week_rank   = #{schoolWeekRank,jdbcType=INTEGER},
            school_month_rank  = #{schoolMonthRank,jdbcType=INTEGER},
            school_lowest_rank = #{schoolLowestRank,jdbcType=INTEGER},
            country_week_rank  = #{countryWeekRank,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateList" parameterType="java.util.List">
        update rank_list
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="school_day_rank =case" suffix="end,">
                <foreach collection="updateList" item="item" index="index">
                    <if test="item.schoolDayRank != null">
                        when id=#{item.id} then #{item.schoolDayRank}
                    </if>
                </foreach>
            </trim>
            <trim prefix="school_week_rank =case" suffix="end,">
                <foreach collection="updateList" item="item" index="index">
                    <if test="item.schoolWeekRank != null">
                        when id=#{item.id} then #{item.schoolWeekRank}
                    </if>
                </foreach>
            </trim>
            <trim prefix="school_month_rank =case" suffix="end,">
                <foreach collection="updateList" item="item" index="index">
                    <if test="item.schoolMonthRank != null">
                        when id=#{item.id} then #{item.schoolMonthRank}
                    </if>
                </foreach>
            </trim>
            <trim prefix="school_lowest_rank =case" suffix="end,">
                <foreach collection="updateList" item="item" index="index">
                    <if test="item.schoolLowestRank != null">
                        when id=#{item.id} then #{item.schoolLowestRank}
                    </if>
                </foreach>
            </trim>
            <trim prefix="country_week_rank =case" suffix="end,">
                <foreach collection="updateList" item="item" index="index">
                    <if test="item.countryWeekRank != null">
                        when id=#{item.id} then #{item.countryWeekRank}
                    </if>
                </foreach>
            </trim>
            <trim prefix="country_day_rank =case" suffix="end,">
                <foreach collection="updateList" item="item" index="index">
                    <if test="item.countryWeekRank != null">
                        when id=#{item.id} then #{item.countryDayRank}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="updateList" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>
