<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.simple.SimpleSyntheticRewardsListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.SyntheticRewardsList">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="img_url" property="imgUrl" />
        <result column="use_state" property="useState" />
        <result column="use_time" property="useTime" />
        <result column="use_end_time" property="useEndTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="Result_Base">
        id,student_id,type,name,img_url,use_state,use_time,use_end_time,create_time
    </sql>

    <select id="getGloveOrFlower" parameterType="map" resultMap="BaseResultMap">
        select <include refid="Result_Base"></include> from synthetic_rewards_list where student_id = #{studentId} and type!=3 and (use_end_time is null or use_end_time>now()) group by name
    </select>

    <select id="selListMap" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select count(list.id) count,count(list.use_time) useNumber,list.name name,max(list.use_end_time) endTime ,img_url imgUrl
        from synthetic_rewards_list list
        where list.student_id=#{studentId} and type=#{type}
          and (list.use_end_time > now() or list.use_end_time is null)
          group by name order by id desc
    </select>

    <select id="selCountByStudentIdAndName" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(id) from synthetic_rewards_list where student_id=#{studentId} and name =#{name}
    </select>

    <select id="selGloveOrFlowerByStudentIdAndName" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from synthetic_rewards_list where student_id=#{studentId} and name=#{name}
    </select>

    <update id="updUse" parameterType="java.util.Map">
        update synthetic_rewards_list set use_state=#{useState},use_time=#{useTime},use_end_time=#{useEndTime}
        where student_id=#{studentId} and name=#{name} and use_state=0
    </update>

    <select id="selGloveOrFlowerByStudentIdAndNameByState" parameterType="map" resultType="map">
      select name ,use_end_time useEndTime from synthetic_rewards_list
      where student_id=#{studentId} and use_state = 1 and use_end_time is not null and type=#{type} order by use_end_time desc limit 1;
    </select>

    <select id="getUseGloveOrFlower" parameterType="map" resultMap="BaseResultMap">
        select <include refid="Result_Base"></include> from synthetic_rewards_list where student_id=#{studentId} and use_end_time>now() and use_state=1 limit 1
    </select>

    <select id="getIsUse" parameterType="map" resultMap="BaseResultMap">
        select <include refid="Result_Base"></include> from synthetic_rewards_list where student_id=#{studentId} and use_end_time is null and name=#{name} limit 1
    </select>

    <select id="getHaveGloveOrFlower" parameterType="map" resultType="string">
        select name  where synthetic_rewards_list where student_id=#{studentId} and type=#{type} and (use_end_time is null or use_end_time>now())
    </select>
</mapper>
