<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidejiaoyu.common.mapper.simple.SimpleMedalMapper">
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.Medal">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="parent_name" property="parentName" jdbcType="VARCHAR"/>
        <result column="next_parent" property="nextParent" jdbcType="BIGINT"/>
        <result column="child_name" property="childName" jdbcType="VARCHAR"/>
        <result column="next_child" property="nextChild" jdbcType="BIGINT"/>
        <result column="explain" property="explain" jdbcType="VARCHAR"/>
        <result column="marked_words" property="markedWords" jdbcType="VARCHAR"/>
        <result column="child_img_url" property="childImgUrl" jdbcType="VARCHAR"/>
        <result column="parent_img_url" property="parentImgUrl" jdbcType="VARCHAR"/>
        <result column="gold_img_url" property="goldImgUrl" jdbcType="VARCHAR"/>
        <result column="gray_img_url" property="grayImgUrl" jdbcType="VARCHAR"/>
        <result column="total_plan" property="totalPlan"/>
        <result column="get_gif_img_url" property="getGifImgUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, parent_name, next_parent, child_name, next_child,`explain`, marked_words, child_img_url,
        parent_img_url, gold_img_url, gray_img_url, total_plan, get_gif_img_url
    </sql>
    <sql id="more_Column_List">
        m.id, m.parent_name, m.next_parent, m.child_name, m.next_child,m.`explain`, m.marked_words, m.child_img_url,
        m.parent_img_url, m.gold_img_url, m.gray_img_url, m.total_plan, m.get_gif_img_url
    </sql>
    <select id="countChildByIds" resultType="java.util.Map" parameterType="java.util.List">
        SELECT
        parent_name parentName,
        COUNT(child_name) child
        FROM
        medal
        WHERE
        parent_name IN (
        SELECT
        parent_name
        FROM
        medal
        WHERE
        id IN (
        <foreach collection="ids" separator="," item="id">
            #{id}
        </foreach>
        )
        )
        GROUP BY
        parent_name
        ORDER BY id ASC
    </select>
    <select id="countGetCountByStudentId" resultType="java.util.Map" parameterType="map">
        SELECT
            m.parent_name       parentName,
            count(m.child_name) getCount
        FROM
            award a,
            medal m
        WHERE
            a.medal_type = m.id
            AND student_id = #{studentId}
        GROUP BY
            m.parent_name;
    </select>
    <select id="selectChildrenIdByParentId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from medal where parent_name = (select parent_name from medal where id = #{parentId}) order by id asc
    </select>
    <select id="selectMedalImgUrl" resultType="java.util.Map" parameterType="map">
        select if(sum(a.get_flag) > 2, if(sum(a.get_flag) = 5, m.gold_img_url, m.gray_img_url),
                  if(sum(a.get_flag) = 1, m.gold_img_url, m.gray_img_url)) imgUrl, m.id
        from medal m,
             award a
        where a.medal_type = m.id
          and a.student_id = #{student.id}
        group by m.parent_name
        order by m.id asc
    </select>
    <select id="selectHadMedalImgUrl" resultType="java.lang.String" parameterType="map">
        select t.imgUrl
        from (select if(sum(a.get_flag) > 2, if(sum(a.get_flag) = 5, m.gold_img_url, m.gray_img_url),
                        if(sum(a.get_flag) = 1, m.gold_img_url, m.gray_img_url)) imgUrl
              from medal m,
                   award a
              where a.medal_type = m.id
                and a.student_id = #{student.id}
              group by m.parent_name
              order by m.id asc) t
        where t.imgUrl not like '%no-light%'
    </select>
    <select id="selectChildrenInfo" resultType="java.util.Map" parameterType="map">
        select if(a.get_flag = 1, m.gold_img_url, m.gray_img_url) imgUrl, m.marked_words content
        from medal m,
             award a
        where parent_name = (select parent_name from medal where id = #{medalId})
          and m.id = a.medal_type
          and student_id = #{student.id}
        group by m.marked_words
        order by m.id asc
    </select>

    <select id="selectHadBigMedalImgUrl" resultType="java.lang.String" parameterType="map">
        select t.imgUrl
        from (select if(sum(a.get_flag) > 2, if(sum(a.get_flag) = 5, m.big_gold_img_url, m.gray_img_url),
                        if(sum(a.get_flag) = 1, m.big_gold_img_url, m.gray_img_url)) imgUrl
              from medal m,
                   award a
              where a.medal_type = m.id
                and a.student_id = #{student.id}
              group by m.parent_name
              order by m.id asc) t
        where t.imgUrl not like '%no-light%'
    </select>

    <select id="selectByParentIds" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from medal
        where parent_name in (select parent_name from medal where id in(
        <foreach collection="parentIds" item="parentId" separator=",">
            #{parentId}
        </foreach>
        )
        )
        order by id asc
    </select>
    <select id="selectHadByStudentId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="more_Column_List"/>
        from award a, medal m where student_id = #{studentId} and a.medal_type = m.id and a.type = 3 and a.get_flag = 1
    </select>
</mapper>
