<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.simple.SimpleStudentSkinMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.StudentSkin">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="skin_name" property="skinName"/>
        <result column="end_time" property="endTime"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"></result>
        <result column="img_url" property="imgUrl"></result>
        <result column="type" property="type"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, student_id, skin_name, end_time, state, create_time, img_url , type
    </sql>

    <select id="selSkinByStudentId" resultType="map" parameterType="java.lang.Long">
        select skin_name finalName,
               state,
               end_time  endTime
        from student_skin
        where student_id = #{studentId}
          and type = 1
          and (
                date(end_time) >= date(now())
                or
                end_time is null
            )
        group by finalName
    </select>


    <select id="selSkinByStudentIdIsHave" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from student_skin
        where
        student_id=#{studentId}
        and type=1
        and
        (end_time is null
        or
        date(end_time) >= date(now())
        )
    </select>


    <select id="selSkinByStudentIdAndEndTime" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from student_skin where student_id=#{studentId} and (end_time > now() or end_time is null) and state=1
    </select>

    <select id="selectUseSkinByStudentId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from student_skin where student_id=#{studentId} and state=1
    </select>

    <select id="selSkinBystudentIdAndName" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from student_skin where student_id=#{studentId} and skin_name=#{skinName} and type =1
    </select>

    <select id="selTrySkinBystudentIdAndName" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from student_skin where student_id=#{studentId} and skin_name=#{skinName} and type = 2
    </select>

    <select id="selSkinByStudentIdAndNameAndType" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from student_skin where student_id=#{studentId} and skin_name=#{skinName} and type =1;
    </select>

    <update id="updUseSkin" parameterType="java.util.Map">
        update student_skin
        set state=#{state},
            end_time = #{endTime},
            img_url=#{imgUrl},
            create_time=#{createTime}
        where id = #{id};
    </update>

    <select id="selUseSkinByStudentIdAndName" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from student_skin where student_id=#{studentId} and state=1 and (end_time > now() or end_time is null)
    </select>

    <select id="selTrySkinAndHaveSkin" resultType="java.util.Map" parameterType="java.lang.Long">
        select skin_name finalName, state, end_time endTime
        from student_skin
        where student_id = #{id}
          and type = 2
        group by skin_name;
    </select>

</mapper>
