<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidejiaoyu.common.mapper.simple.SimpleExampleMapper" >
  <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.Example" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="example_english" property="exampleEnglish" jdbcType="VARCHAR" />
    <result column="example_chinese" property="exampleChinese" jdbcType="VARCHAR" />
    <result column="explain" property="explain" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_tiem" property="updateTiem" jdbcType="TIMESTAMP" />
    <result column="course_unit" property="courseUnit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, example_english, example_chinese, `explain`, `status`, create_time, update_tiem,
    course_unit
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhidejiaoyu.common.pojo.ExampleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from example
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from example
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from example
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhidejiaoyu.common.pojo.ExampleExample" >
    delete from example
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhidejiaoyu.common.pojo.Example" >
    insert into example (id, example_english, example_chinese,
      `explain`, `status`, create_time,
      update_tiem, course_unit)
    values (#{id,jdbcType=BIGINT}, #{exampleEnglish,jdbcType=VARCHAR}, #{exampleChinese,jdbcType=VARCHAR},
      #{explain,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTiem,jdbcType=TIMESTAMP}, #{courseUnit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidejiaoyu.common.pojo.Example" >
    insert into example
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="exampleEnglish != null" >
        example_english,
      </if>
      <if test="exampleChinese != null" >
        example_chinese,
      </if>
      <if test="explain != null" >
        explain,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTiem != null" >
        update_tiem,
      </if>
      <if test="courseUnit != null" >
        course_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="exampleEnglish != null" >
        #{exampleEnglish,jdbcType=VARCHAR},
      </if>
      <if test="exampleChinese != null" >
        #{exampleChinese,jdbcType=VARCHAR},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTiem != null" >
        #{updateTiem,jdbcType=TIMESTAMP},
      </if>
      <if test="courseUnit != null" >
        #{courseUnit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhidejiaoyu.common.pojo.ExampleExample" resultType="java.lang.Integer" >
    select count(*) from example
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update example
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.exampleEnglish != null" >
        example_english = #{record.exampleEnglish,jdbcType=VARCHAR},
      </if>
      <if test="record.exampleChinese != null" >
        example_chinese = #{record.exampleChinese,jdbcType=VARCHAR},
      </if>
      <if test="record.explain != null" >
        `explain` = #{record.explain,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTiem != null" >
        update_tiem = #{record.updateTiem,jdbcType=TIMESTAMP},
      </if>
      <if test="record.courseUnit != null" >
        course_unit = #{record.courseUnit,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update example
    set id = #{record.id,jdbcType=BIGINT},
      example_english = #{record.exampleEnglish,jdbcType=VARCHAR},
      example_chinese = #{record.exampleChinese,jdbcType=VARCHAR},
      `explain` = #{record.explain,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_tiem = #{record.updateTiem,jdbcType=TIMESTAMP},
      course_unit = #{record.courseUnit,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidejiaoyu.common.pojo.Example" >
    update example
    <set >
      <if test="exampleEnglish != null" >
        example_english = #{exampleEnglish,jdbcType=VARCHAR},
      </if>
      <if test="exampleChinese != null" >
        example_chinese = #{exampleChinese,jdbcType=VARCHAR},
      </if>
      <if test="explain != null" >
        `explain` = #{explain,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTiem != null" >
        update_tiem = #{updateTiem,jdbcType=TIMESTAMP},
      </if>
      <if test="courseUnit != null" >
        course_unit = #{courseUnit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidejiaoyu.common.pojo.Example" >
    update example
    set example_english = #{exampleEnglish,jdbcType=VARCHAR},
      example_chinese = #{exampleChinese,jdbcType=VARCHAR},
      `explain` = #{explain,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_tiem = #{updateTiem,jdbcType=TIMESTAMP},
      course_unit = #{courseUnit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertByList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
  	insert into example (id, example_english, example_chinese,
	      `explain`, `status`, create_time,
	      update_tiem, course_unit)
    values
     <foreach collection="list" index="index" item="item" separator=",">
	    (
	    	#{item.id,jdbcType=BIGINT}, #{item.exampleEnglish,jdbcType=VARCHAR}, #{item.exampleChinese,jdbcType=VARCHAR},
	     	#{item.explain,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP},
	      	#{item.updateTiem,jdbcType=TIMESTAMP}, #{item.courseUnit,jdbcType=VARCHAR}
	    )
      </foreach>
  </insert>
  </mapper>
