<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.simple.SimpleSentenceUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.SentenceUnit">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="unit_name" property="unitName" />
        <result column="joint_name" property="jointName" />
        <result column="delStatus" property="delStatus" />
        <result column="unit_index" property="unitIndex" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_id, unit_name, joint_name, delStatus, unit_index
    </sql>
    <select id="selectByJointName" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from sentence_unit where joint_name = #{jointName}
    </select>

</mapper>
