<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.simple.SimpleStudentUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.SimpleStudentUnit">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="course_id" property="courseId" />
        <result column="unit_id" property="unitId" />
        <result column="type" property="type" />
    </resultMap>

	<select id="getAllUnit" parameterType="Long" resultType="map">
		select type, course_id from simple_student_unit where student_id = #{studentId}
	</select>

    <select id="getAllCourseIdByTypeToStudent" parameterType="map" resultType="long">
        select course_id from simple_student_unit where student_id=#{studentId} and type=#{type}
    </select>

</mapper>
