<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidejiaoyu.common.mapper.AwardContentTypeMapper" >
  <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.AwardContentType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="award_content" property="awardContent" jdbcType="VARCHAR" />
    <result column="award_gold" property="awardGold" jdbcType="INTEGER" />
    <result column="total_plan" property="totalPlan" jdbcType="INTEGER" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, award_content, award_gold, total_plan, img_url
  </sql>
  <select id="selectByIds" resultMap="BaseResultMap" resultType="map">
    select
    <include refid="Base_Column_List"/>
    from award_content_type where id in (
    <foreach collection="ids" separator="," item="id">
      #{id}
    </foreach>
    )
  </select></mapper>