<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhidejiaoyu.common.mapper.AwardContentTypeMapper" >
  <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.AwardContentType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="award_content" property="awardContent" jdbcType="VARCHAR" />
    <result column="award_gold" property="awardGold" jdbcType="INTEGER" />
    <result column="total_plan" property="totalPlan" jdbcType="INTEGER" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, award_content, award_gold, total_plan, img_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhidejiaoyu.common.pojo.AwardContentTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from award_content_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from award_content_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from award_content_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhidejiaoyu.common.pojo.AwardContentTypeExample" >
    delete from award_content_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhidejiaoyu.common.pojo.AwardContentType" >
    insert into award_content_type (id, award_content, award_gold, 
      total_plan, img_url)
    values (#{id,jdbcType=INTEGER}, #{awardContent,jdbcType=VARCHAR}, #{awardGold,jdbcType=INTEGER}, 
      #{totalPlan,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhidejiaoyu.common.pojo.AwardContentType" >
    insert into award_content_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="awardContent != null" >
        award_content,
      </if>
      <if test="awardGold != null" >
        award_gold,
      </if>
      <if test="totalPlan != null" >
        total_plan,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="awardContent != null" >
        #{awardContent,jdbcType=VARCHAR},
      </if>
      <if test="awardGold != null" >
        #{awardGold,jdbcType=INTEGER},
      </if>
      <if test="totalPlan != null" >
        #{totalPlan,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhidejiaoyu.common.pojo.AwardContentTypeExample" resultType="java.lang.Integer" >
    select count(*) from award_content_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update award_content_type
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.awardContent != null" >
        award_content = #{record.awardContent,jdbcType=VARCHAR},
      </if>
      <if test="record.awardGold != null" >
        award_gold = #{record.awardGold,jdbcType=INTEGER},
      </if>
      <if test="record.totalPlan != null" >
        total_plan = #{record.totalPlan,jdbcType=INTEGER},
      </if>
      <if test="record.imgUrl != null" >
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update award_content_type
    set id = #{record.id,jdbcType=INTEGER},
      award_content = #{record.awardContent,jdbcType=VARCHAR},
      award_gold = #{record.awardGold,jdbcType=INTEGER},
      total_plan = #{record.totalPlan,jdbcType=INTEGER},
      img_url = #{record.imgUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhidejiaoyu.common.pojo.AwardContentType" >
    update award_content_type
    <set >
      <if test="awardContent != null" >
        award_content = #{awardContent,jdbcType=VARCHAR},
      </if>
      <if test="awardGold != null" >
        award_gold = #{awardGold,jdbcType=INTEGER},
      </if>
      <if test="totalPlan != null" >
        total_plan = #{totalPlan,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhidejiaoyu.common.pojo.AwardContentType" >
    update award_content_type
    set award_content = #{awardContent,jdbcType=VARCHAR},
      award_gold = #{awardGold,jdbcType=INTEGER},
      total_plan = #{totalPlan,jdbcType=INTEGER},
      img_url = #{imgUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>