<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.CapacityStudentUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.CapacityStudentUnit">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="course_id" property="courseId"/>
        <result column="unit_id" property="unitId"/>
        <result column="type" property="type"/>
        <result column="unit_name" property="unitName"/>
        <result column="course_name" property="courseName"/>
        <result column="version" property="version"/>
    </resultMap>

    <sql id="base_sql">
        id,
        student_id,
        course_id,
        unit_id,
        type,
        unit_name,
        course_name,
        version
    </sql>

    <select id="selectCurrentUnitIdByStudentIdAndType"
            resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from capacity_student_unit where student_id = #{studentId} and type = #{type} limit 1
    </select>

</mapper>
