<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.ClockInMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.ClockIn">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="card_days" property="cardDays"/>
        <result column="card_time" property="cardTime"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="base_sql">
        id, student_id, card_days, card_time, type, create_time
    </sql>
    <sql id="more_table_sql">
        c.id, c.student_id, c.card_days, c.card_time, c.type, c.create_time
    </sql>
    <select id="selectByStudentIdWithCurrentMonth" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from clock_in
        where student_id = #{studentId}
        and create_time like concat(#{currentMonth}, '%')
        order by create_time
    </select>
    <select id="selectByStudentId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from clock_in
        where student_id = #{studentId}
        order by create_time
    </select>
    <select id="selectLaseCardDays" resultType="java.lang.Integer" parameterType="map">
        select card_days
        from clock_in
        where student_id = #{studentId}
        order by card_time desc
        limit 1
    </select>
    <select id="countByStudentIdAndCardTime" resultType="java.lang.Integer" parameterType="map">
        select count(id)
        from clock_in
        where student_id = #{studentId}
          and card_time = #{date}
    </select>
    <select id="selectByStudentIds" parameterType="map" resultType="map">
        select student_id studentId
        from clock_in
        where student_id in (
        <foreach collection="studentIds" separator="," item="studentId">
            #{studentId}
        </foreach>
        )
    </select>
    <select id="selectByStudentAccount" resultType="com.zhidejiaoyu.common.vo.wechat.smallapp.studyinfo.DailyStateVO">
        select s.account,
        s.id studentId,
        s.student_name studentName,
        c.card_days cardDays,
        se.phase,
        sum(d.online_time) onlineTime
        from clock_in c
        join student s on c.student_id = s.id
        join student_expansion se on s.id = se.student_id
        join duration d on s.id = d.student_id and to_days(d.login_time) = to_days(now())
        and s.account in (
        <foreach collection="account" item="c" separator=",">
            #{c}
        </foreach>
        ) and to_days(c.card_time) = to_days(#{date})
        group by s.id
    </select>

</mapper>
