<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.CourseConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.CourseConfig">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="course_id" property="courseId"/>
        <result column="study_model" property="studyModel"/>
        <result column="one_key_learn" property="oneKeyLearn"/>
        <result column="type" property="type"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="base_sql">
        id, user_id, course_id, study_model, one_key_learn, type, update_time
    </sql>

    <select id="countByUserIdAndType" parameterType="map" resultType="int">
        select count(id)
        from course_config
        where user_id = #{userId}
          and `type` = #{type}
    </select>

    <select id="selectByTypeAndUserIdAndCourseId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from course_config
        where user_id = #{adminId}
        and `type` = #{type}
        and course_id=#{courseId}
        limit 1
    </select>
    <select id="selectByUserIdAndTypeAnd" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from course_config
        where user_id = #{userId}
        and `type` = #{type}
    </select>
    <select id="selectCourseIdsByUserIdAndType" resultType="java.lang.Long" parameterType="map">
        select course_id
        from course_config
        where user_id = #{userId}
          and `type` = #{type}
        group by course_id
    </select>
    <select id="selectCourseIdsByUserIdAndTYpeAndOneKeyLearn" resultType="java.lang.Long" parameterType="map">
        select course_id
        from course_config
        where user_id = #{userId}
          and `type` = #{type}
          and one_key_learn = #{oneKeyLearn}
        group by course_id
    </select>
    <select id="selectByUserId" parameterType="map" resultType="long">
        select
        config.course_id
        from course_config config
        join course_new cou on cou.id=config.course_id
        where config.user_id = #{userId}
        and
        (
        cou.grade in
        (
        <foreach collection="gradeList" separator="," item="grade">
            #{grade}
        </foreach>
        )
        or
        cou.grade_ext in (
        <foreach collection="gradeList" separator="," item="grade">
            #{grade}
        </foreach>
        )
        )
        and config.`type` = 2
        and config.one_key_learn=2
        and config.study_model like concat('%','1','%')
    </select>


</mapper>
