<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.CurrentDayOfStudyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.CurrentDayOfStudy">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="qr_code_num" property="qrCodeNum"/>
        <result column="img_url" property="imgUrl"/>
        <result column="gold" property="gold"/>
        <result column="valid_time" property="validTime"/>
        <result column="online_time" property="onlineTime"/>
        <result column="study_model" property="studyModel"/>
        <result column="word" property="word"/>
        <result column="sentence" property="sentence"/>
        <result column="`text`" property="text"/>
        <result column="syntax" property="syntax"/>
        <result column="test" property="test"/>
        <result column="create_time" property="createTime"/>
        <result column="evaluate" property="evaluate"/>
        <result column="show" property="show"/>
        <result column="comment" property="comment"/>
        <result column="site_no" property="siteNo"/>
    </resultMap>

    <sql id="base_sql">
        id,student_id,qr_code_num,img_url,gold,valid_time,online_time,study_model,word,sentence,`text`,syntax,test,create_time,
    evaluate, `show`, `comment`, site_no
    </sql>

    <select id="selectByDate" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from current_day_of_study
        where
        to_days(#{date})=to_days(create_time)
    </select>
    <select id="selectByStudentIdAndQrCodeNum" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from current_day_of_study
        where student_id = #{studentId}
        and qr_code_num = #{num}
        limit 1
    </select>
    <select id="countByStudentIdAndDate" resultType="java.lang.Integer" parameterType="map">
        select count(id)
        from current_day_of_study
        where student_id = #{studentId}
          and to_days(create_time) = to_days(#{date})
    </select>
    <select id="countByStudentIdsAndDate" resultType="java.util.Map" parameterType="map">
        select student_id studentId, count(id) count
        from current_day_of_study
        where student_id in (
        <foreach collection="studentIds" item="id" separator=",">
            #{id}
        </foreach>
        )
        <if test="date != null">
            and TO_DAYS(create_time) = TO_DAYS(#{date})
        </if>
        group by student_id

    </select>
    <select id="selectCreateTimeByMonth" resultType="java.lang.String" parameterType="map">
        select date_format(create_time, '%Y-%m-%d')
        from current_day_of_study
        where student_id = #{studentId}
          and create_time like concat(#{month}, '%')
    </select>
    <select id="selectByStudentIdAndCreateTime" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from current_day_of_study
        where student_id = #{studentId}
        <if test="date != null and date != ''">
            and create_time like concat(#{date}, '%')
        </if>
        limit 1
    </select>

</mapper>
