<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.EquipmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.Equipment">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="level" property="level"/>
        <result column="empirical_value" property="empiricalValue"/>
        <result column="grade" property="grade"/>
    </resultMap>
    <sql id="base_sql">
        id, `name`, type, `level`,empirical_value,grade
    </sql>
    <sql id="more_table_sql">
        e.id, e.name, e.type, e.level,e.empirical_value,e.grade
    </sql>
    <select id="selectUsedByStudentId" resultType="map" parameterType="map">
        select e.type,
               ee.img_url             imgUrl,
               ee.durability,
               ee.common_attack       commonAttack,
               ee.source_force_attack sourceForceAttack,
               ee.source_force        sourceForce,
               ee.hit_rate            hitRate,
               ee.mobility
        from equipment e
                 join equipment_expansion ee on e.id = ee.equipment_id
                 join student_equipment se on e.id = se.equipment_id
            and se.student_id = #{studentId} and se.type = 1
            and ee.intensification_degree = se.intensification_degree

    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from equipment
    </select>
    <select id="selectByType" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from equipment
        where `type` =#{type}
        order by level
    </select>

    <select id="selectIdByTypeAndLevel" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from equipment where type =#{type} and level =#{level}
    </select>

    <select id="selectNameAndGradeByStudentId" parameterType="map"
            resultType="com.zhidejiaoyu.common.vo.ship.EquipmentVo">
        select
         e.id id, e.name equipmentName,e.grade grade,stuEqu.intensification_degree degree
        from equipment e
        join student_equipment stuEqu
        on e.id=stuEqu.equipment_id
        where stuEqu.student_id =#{studentId}
        and e.type=#{type}
        and stuEqu.type=1
    </select>

</mapper>
