<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.EquipmentExpansionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.EquipmentExpansion">
        <id column="id" property="id"/>
        <result column="equipment_id" property="equipmentId"/>
        <result column="durability" property="durability"/>
        <result column="common_attack" property="commonAttack"/>
        <result column="source_force_attack" property="sourceForceAttack"/>
        <result column="source_force" property="sourceForce"/>
        <result column="hit_rate" property="hitRate"/>
        <result column="mobility" property="mobility"/>
        <result column="intensification_degree" property="intensificationDegree"/>
        <result column="img_url" property="imgUrl"/>
        <result column="left_img_url" property="leftImgUrl"/>

    </resultMap>

    <sql id="base_sql">
        id,equipment_id,durability,common_attack,source_force_attack,source_force,hit_rate,mobility,intensification_degree,img_url,left_img_url
    </sql>

    <select id="selectLvOneAllUrl" resultType="map">
        select
        equipment_id equipmentId,img_url imgUrl
        from equipment_expansion
        where intensification_degree=1
    </select>
    <select id="selectAllUrlByType" resultType="map" parameterType="map">
        select
        exp.equipment_id equipmentId,exp.img_url imgUrl,exp.intensification_degree degree
        from equipment_expansion exp
        join equipment equ
        on exp.equipment_id = equ.id
        where equ.type=#{type}
    </select>
    <select id="selectUrlByEquipmentIdAndType" parameterType="map" resultType="string">
        select
        img_url
        from equipment_expansion
        where intensification_degree=#{degree}
        and equipment_id=#{equipmentId}
    </select>
    <select id="selectByEquipmentIdAndLevel" parameterType="map" resultType="map">
        select ee.id,
               e.name,
               ee.img_url             imgUrl,
               ee.durability,
               ee.common_attack       commonAttack,
               ee.source_force_attack sourceForceAttack,
               ee.source_force        sourceForce,
               ee.hit_rate            hitRate,
               ee.mobility,
               ee.intensification_degree degree
        from   equipment e
                 join equipment_expansion ee on e.id = ee.equipment_id
        where
             e.id=#{equipmentId}
            and ee.intensification_degree = #{degree}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="base_sql"></include> from equipment_expansion
    </select>

</mapper>
