<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.GoldLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.GoldLog">
        <id column="id" property="id"/>
        <result column="operator_id" property="operatorId"/>
        <result column="student_id" property="studentId"/>
        <result column="gold_add" property="goldAdd"/>
        <result column="gold_reduce" property="goldReduce"/>
        <result column="reason" property="reason"/>
        <result column="create_time" property="createTime"/>
        <result column="read_flag" property="readFlag"/>
    </resultMap>

    <delete id="deleteByStudentIds" parameterType="map">
        delete from gold_log
        where student_id in (
        <foreach collection="studentIds" separator="," item="studentId">
            #{studentId}
        </foreach>
        )
    </delete>

    <select id="selectGoldByStudentIdAndDate" parameterType="map" resultType="integer">
        select
        <if test="type==1">
            sum(gold_add)
        </if>
        <if test="type==2">
            sum(gold_reduce)
        </if>
        from gold_log
        where student_id=#{studentId}
        and to_days(create_time)= to_days(#{date})
    </select>

</mapper>
