<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.GoldLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.GoldLog">
        <id column="id" property="id"/>
        <result column="operator_id" property="operatorId"/>
        <result column="student_id" property="studentId"/>
        <result column="gold_add" property="goldAdd"/>
        <result column="gold_reduce" property="goldReduce"/>
        <result column="reason" property="reason"/>
        <result column="create_time" property="createTime"/>
        <result column="read_flag" property="readFlag"/>
        <result column="type" property="type"/>
    </resultMap>

    <sql id="base_sql">
        id,operator_id,student_id,gold_add,gold_reduce,reason,create_time,read_flag,`type`
    </sql>

    <delete id="deleteByStudentIds" parameterType="map">
        delete from gold_log
        where student_id in (
        <foreach collection="studentIds" separator="," item="studentId">
            #{studentId}
        </foreach>
        )
    </delete>

    <select id="selectGoldByStudentIdAndDate" parameterType="map" resultType="integer">
        select
        <if test="type==1">
            sum(gold_add)
        </if>
        <if test="type==2">
            sum(gold_reduce)
        </if>
        from gold_log
        where student_id=#{studentId}
        and to_days(create_time)= to_days(#{date})
    </select>

    <select id="selectGoldByAdminIdAndDate" resultType="integer" parameterType="map">
        select sum(gold_add)
        from gold_log
        where student_id in (select id
                             from student
                             where teacher_id = #{adminId}
                                or teacher_id in (
                                 select teacher_id
                                 from teacher
                                 where school_admin_id = #{adminId}
                                   and teacher_id is not null
                             ))
          and to_days(create_time) = to_days(#{date})
    </select>

    <select id="selectGoldByAdminIdAndStartDateAndEndTime" resultType="map" parameterType="map">
        select stu.student_name studentName,
               gold.reason      model,
               gold.gold_add    gold,
               gold.create_time createTime
        from gold_log gold
                 join student stu on stu.id = gold.student_id
        where gold.student_id in (select id
                                  from student
                                  where teacher_id = #{adminId}
                                     or teacher_id in (
                                      select teacher_id
                                      from teacher
                                      where school_admin_id = #{adminId}
                                        and teacher_id is not null
                                  ))
          and gold.create_time >= #{startTime}
          and gold.create_time &lt;= #{endTime}
          and gold.type = 1
          and gold.gold_add > 1
        order by gold.create_time desc
    </select>
    <select id="countByAdminIdAndStartDateAndEndTime" resultType="int" parameterType="map">
        select count(gold.id)
        from gold_log gold
        where gold.student_id in (select id
                                  from student
                                  where teacher_id = #{adminId}
                                     or teacher_id in (
                                      select teacher_id
                                      from teacher
                                      where school_admin_id = #{adminId}
                                        and teacher_id is not null
                                  ))
          and gold.create_time >= #{startTime}
          and gold.create_time &lt;= #{endTime}
          and gold.type = 1
    </select>
    <select id="selectGoldContributeByBeginTimeAndEndTime" resultType="java.lang.Integer" parameterType="map">
        select sum(gold_add)
        from gold_log
        where student_id = #{studentId}
          and create_time >= #{beginTime}
          and create_time &lt;= #{endTime}
          and reason not in ('每周活动排行奖励', '每周活动完成任务')
    </select>

</mapper>
