<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.JoinSchoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.JoinSchool">
        <id column="id" property="id"/>
        <result column="school_name" property="schoolName"/>
        <result column="date_of_joining" property="dateOfJoining"/>
        <result column="pessident_name" property="pessidentName"/>
        <result column="phone" property="phone"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="joining_number" property="joiningNumber"/>
        <result column="address" property="address"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="reservation_number" property="reservationNumber"/>
        <result column="date_of_audit" property="dateOfAudit"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="user_id" property="userId"/>
        <result column="reporting" property="reporting"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, school_name, date_of_joining, pessident_name, phone, longitude, latitude, joining_number, address, audit_status, reservation_number, date_of_audit, province, city, area,user_id,reporting
    </sql>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from join_school
        where user_id = #{schoolAdminId} limit 1
    </select>

    <select id="selectByLikeAddress" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from
        join_school
        where
        audit_status!=3 and audit_status!=4
        <if test="address!=null">
            and address like concat('%',#{address},'%')
        </if>
    </select>
    <select id="selBySchool" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from join_school where 1=1 and reporting &lt;>5
        <if test="school.pessidentName != null">
            and pessident_name like concat('%',#{school.pessidentName},'%')
        </if>
        <if test="school.schoolName != null and school.schoolName != '全部'">
            and school_name like concat('%',#{school.schoolName},'%')
        </if>
        <if test="school.auditStatus != null and school.auditStatus!= 0">
            <if test="school.auditStatus == 1">
                and audit_status = 1
            </if>
            <if test="school.auditStatus == 2">
                and audit_status = 2
            </if>
            <if test="school.auditStatus == 3 ">
                and audit_status = 3 or audit_status = 4
            </if>
        </if>
        <if test="school.auditStatus == 0 or school.auditStatus == null">
            order by date_of_joining desc
        </if>
        <if test="school.auditStatus == 1">
            order by date_of_audit desc
        </if>
        <if test="school.auditStatus == 2">
            order by date_of_joining desc
        </if>
        <if test="school.auditStatus == 3 ">
            order by date_of_joining desc
        </if>
        <if test="start!=null">
            limit #{start},#{size}
        </if>
    </select>

</mapper>
