<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.LearnNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.LearnNew">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="course_id" property="courseId"/>
        <result column="unit_id" property="unitId"/>
        <result column="group" property="group"/>
        <result column="easy_or_hard" property="easyOrHard"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="base_sql">
        id, student_id, course_id, unit_id, `group`, easy_or_hard, update_time
    </sql>
    <sql id="getByType">
        <if test="type==1">
            v.id,
            v.word,
            uv.word_chinese,
            v.recordpicurl,
            v.small_picture_url smallPictureUrl,
            v.middle_picture_url middlePictureUrl,
            v.high_picture_url highPictureUrl,
            v.sound_mark
        </if>
    </sql>

    <select id="selectByStudentStudyPlanNew" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from learn_new
        where student_id = #{studentStudyPlanNew.studentId}
        and unit_id = #{studentStudyPlanNew.unitId}
        and easy_or_hard = #{studentStudyPlanNew.easyOrHard}
        limit 1
    </select>
    <select id="selectByStudentIdAndUnitId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from learn_new
        where student_id = #{studentId}
        and unit_id = #{unitId}
    </select>


</mapper>
