<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.LearnExtendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.LearnExtend">
        <id column="id" property="id"/>
        <result column="school_admin_id" property="schoolAdminId"/>
        <result column="learn_id" property="learnId"/>
        <result column="word_id" property="wordId"/>
        <result column="status" property="status"/>
        <result column="learn_time" property="learnTime"/>
        <result column="study_model" property="studyModel"/>
        <result column="study_count" property="studyCount"/>
        <result column="flow_name" property="flowName"/>
        <result column="first_study_time" property="firstStudyTime"/>
        <result column="first_is_know" property="firstIsKnow"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="base_sql">
        id, school_admin_id, learn_id, word_id, `status`, learn_time, study_model, study_count, flow_name, first_study_time,
        first_is_know, update_time
    </sql>

    <sql id="more_table_sql">
        le.id, le.school_admin_id, le.learn_id, le.word_id, le.`status`, le.learn_time, le.study_model, le.study_count,
        le.flowName, le.first_study_time,   le.first_is_know, le.update_time
    </sql>
    <select id="countByStudentIdAndFlow" resultType="java.lang.Integer" parameterType="map">
        select count(l.id)
        from learn_new l
                 left join learn_extend le
                           on le.learn_id = l.id and l.student_id = #{studentId} and l.unit_id = #{unitId} and
                              le.flow_name = #{flowName}
    </select>


    <select id="selectByUnitIdAndStudentIdAndType" parameterType="map" resultType="long">
        select distinct extend.word_id
        from learn_extend extend
                 join learn_new learn on extend.learn_id = learn.id

        where learn.student_id = #{studentId}
          and learn.unit_id = #{unitId}
          and extend.study_model = #{type}
          and model_type = #{modelType}
    </select>

    <select id="selectByLearnIdsAndWordIdAndStudyModel" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from learn_extend
        where learn_id =#{learnId}
        and word_id=#{wordId}
        and study_model=#{studyModel}
    </select>

    <select id="countLearnWord" resultType="int" parameterType="map">
        select count(distinct extend.word_id)
        from learn_extend extend
                 join learn_new ln
                      on extend.learn_id = ln.id
                 join unit_vocabulary_new unit
                      on unit.unit_id = ln.unit_id
        where extend.learn_id = #{learnId}
          and unit.unit_id = #{unitId}
          and unit.group = #{group}
          and extend.study_model = #{studyModel}
    </select>

    <select id="selectLearnedByUnitId" parameterType="map" resultType="map">
        select v.word, uv.word_chinese wordChinese, v.id
        from vocabulary v,
             unit_vocabulary_new uv
        where uv.vocabulary_id = v.id
          and uv.unit_id = #{unitId}
        group by v.id
        limit #{start}, #{end}
    </select>

    <select id="countByLearnIdAndWordIdAndType" parameterType="map" resultType="int">
        select count(id)
        from learn_extend
        where word_id = #{wordId}
          and learn_id = #{learnId}
    </select>

    <select id="selectByLearnIdAndWordIdAndType" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from learn_extend
        where word_id =#{wordId}
        and learn_id=#{learnId}
        limit 1
    </select>
    <select id="selectStudyCount" resultType="java.lang.Integer" parameterType="map">
        select le.study_count
        from learn_new ln
                 join learn_extend le on ln.id = le.learn_id
            and ln.student_id = #{studyCapacity.studentId}
            and ln.unit_id = #{studyCapacity.unitId}
            and ln.`group` = #{studyCapacity.group}
            and le.study_model = #{studyModel}
            and le.word_id = #{studyCapacity.wordId}
        limit 1
    </select>
    <select id="countLearnedSyntax" resultType="java.lang.Integer" parameterType="map">
        select count(le.id)
        from learn_new ln
                 join learn_extend le on ln.id = le.learn_id
        where ln.student_id = #{studentId}
          and ln.unit_id = #{unitId}
          and le.study_model = #{studyModel}
    </select>


</mapper>
