<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.LearnNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.LearnNew">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="course_id" property="courseId" />
        <result column="unit_id" property="unitId" />
        <result column="group" property="group" />
        <result column="easy_or_hard" property="easyOrHard" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="selectStudyFiveStudent" parameterType="map" resultType="map">
        select student_id studentId,
        (
        (select count(unit_id) from learn_history learn1
        where learn1.student_id = learn.student_id and learn1.state=2 and learn1.easy_or_hard=1) +
        (select count(unit_id) from learn_history learn2
        where learn2.student_id = learn.student_id and learn2.state=2 and learn2.easy_or_hard=2
        )
        ) count
        from learn_history learn
        where student_id in (
        <foreach collection="studentIds" item="id" separator=",">
            #{id}
        </foreach>
        )
        group by student_id;
    </select>

</mapper>
