<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.LetterUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.LetterUnit">
        <id column="id" property="id"/>
        <result column="unit_name" property="unitName"/>
    </resultMap>

    <sql id="sql">
        id,unit_name
    </sql>

    <sql id="base_sql">
        unit.id,unit.unit_name
    </sql>

    <select id="selSymbolUnit" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from letter_unit unit
        join phonetic_symbol symbol
        on unit.id=symbol.unit_id
        where unit.id &lt;= #{endUnit}
        and unit.id >=#{startUnit}
        group by unit.id
    </select>
    <select id="selectNextUnitId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="sql"/>
        from letter_unit
        where id > #{unitId}
        order by id asc
        limit 1
    </select>

    <select id="selLetterUnit" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from letter_unit unit
        join letter letter
        on unit.id=letter.unit_id
        where unit.id &lt;= #{endUnit}
        and unit.id >=#{startUnit}
        group by unit.id
    </select>
    <select id="selLetterAllUnit" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from letter_unit unit
        join letter letter
        on unit.id=letter.unit_id
        group by unit.id
    </select>
    <select id="selLetterTreasure" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from letter_unit unit
        join letter_vocabulary voc
        on unit.id=voc.unit_id
        where voc.major_categories=#{major}
        and voc.subordinate_category=#{subordinate}
        group by unit.id
    </select>

</mapper>
