<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.LetterPairMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.LetterPair">
        <id column="id" property="id"/>
        <result column="letter_id" property="letterId"/>
        <result column="student_id" property="studentId"/>
        <result column="push" property="push"/>
        <result column="state" property="state"/>
        <result column="memory_strength" property="memoryStrength"/>
        <result column="unit_id" property="unitId"/>
    </resultMap>

    <sql id="base_sql">
        id,letter_id,student_id,push,state,memory_strength,unit_id
    </sql>

    <select id="selCountByUnitAndStudent" parameterType="map" resultType="integer">
        select count(id) from letter_pair where unit_id =#{unitId} and student_id=#{studentId}
    </select>
    <select id="selAllStudyLetter" parameterType="map" resultType="long">
        select letter_id from letter_pair where unit_id=#{unitId} and student_id=#{studentId}
    </select>
    <select id="selCountStudyLetter" parameterType="map" resultType="integer">
        select count(id) from letter_pair where unit_id=#{unitId} and student_id=#{studentId}
    </select>
    <select id="selByLetterIdAndStudent" parameterType="map" resultMap="BaseResultMap">
        select <include refid="base_sql"></include> from letter_pair where letter_id=#{letterId} and student_id=#{studentId}
    </select>
    <select id="selPushLetter" parameterType="map" resultMap="BaseResultMap">
        select <include refid="base_sql"></include> from letter_pair
        where push &lt; now() and student_id=#{studentId} and unit_id=#{unitId} and memory_strength is not null limit 1
    </select>

</mapper>
