<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.LetterVocabularyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.LetterVocabulary">
        <id column="id" property="id" />
        <result column="unit_id" property="unitId" />
        <result column="letter" property="letter" />
        <result column="major_categories" property="majorCategories" />
        <result column="subordinate_category" property="subordinateCategory" />
        <result column="vocabulary" property="vocabulary" />
        <result column="phonetic_symbol" property="phoneticSymbol" />
        <result column="syllable" property="syllable" />
    </resultMap>

    <sql id="base_sql">
        id,unit_id,letter,major_categories,subordinate_category,vocabulary,phonetic_symbol,syllable
    </sql>
    <select id="selByUnitIds" resultMap="BaseResultMap" parameterType="map">
        select <include refid="base_sql"></include> from letter_vocabulary
        where major_categories=#{major} and subordinate_category=#{subordinate} and unit_id=#{unit}
    </select>
</mapper>
