<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.LetterWriteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.LetterWrite">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="unit_id" property="unitId" />
        <result column="letter_id" property="letterId" />
        <result column="push" property="push" />
        <result column="memory_strength" property="memoryStrength" />
        <result column="state" property="state" />
    </resultMap>

    <sql id="base_sql" >
        id,student_id,unit_id,letter_id,push,memory_strength,state
    </sql>

    <select id="selStudyLetterIdByUnitIdAndStudent" parameterType="map" resultType="long">
        select letter_id from letter_write where unit_id=#{unitId} and student_id=#{studentId}
    </select>

    <select id="selStudyLetterCountByUnitIdAndStudent" parameterType="map" resultType="integer">
        select count(id) from letter_write where unit_id=#{unitId} and student_id=#{studentId}
    </select>

    <select id="selByLetterIdAndStudent" parameterType="map" resultMap="BaseResultMap">
        select <include refid="base_sql"></include> from letter_write where letter_id=#{letterId} and student_id=#{studentId}
    </select>

    <select id="selByLetterMemoryStrengthAndStudent" parameterType="map" resultType="map">
        select memory_strength memoryStrength from letter_write where unit_id=#{unitId} and student_id=#{studentId} and letter_id=#{letterId} and memory_strength is not null limit 1
    </select>

    <select id="selByNewWords" parameterType="map" resultType="integer">
        select count(id) from letter_write where unit_id=#{unitId}
         and student_id=#{studentId} and push > now()
         and (memory_strength is not null and memory_strength &lt;1)
    </select>

    <select id="selByRipeWords" parameterType="map" resultType="integer">
        select count(id) from letter_write where unit_id=#{unitId}
         and student_id=#{studentId} and (memory_strength=1 or memory_strength is null)
    </select>
    <select id="selByToReview" parameterType="map" resultType="integer">
        select count(id) from letter_write where unit_id=#{unitId}
         and student_id=#{studentId} and push &lt; now()
         and (memory_strength is not null and memory_strength &lt;1)
    </select>

</mapper>
