<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.OrderItemDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.OrderItemDetail">
        <id column="id" property="id" />
        <result column="order_item_id" property="orderItemId" />
        <result column="money" property="money" />
        <result column="state" property="state" />
        <result column="introduce_id" property="introduceId" />
        <result column="introduc_type" property="introducType" />
        <result column="teacher_id" property="teacherId" />
        <result column="experience_teacher_id" property="experienceTeacherId" />
        <result column="introduce_heart" property="introduceHeart" />
        <result column="teacher_heart" property="teacherHeart" />
        <result column="experience_teacher_heart" property="experienceTeacherHeart" />
        <result column="business_heart" property="businessHeart" />
        <result column="business_id" property="businessId" />
        <result column="approved_user_id" property="approvedUserId" />
        <result column="approved_time" property="approvedTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
