<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.PhoneticSymbolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.PhoneticSymbol">
        <id column="id" property="id"/>
        <result column="phonetic_symbol" property="phoneticSymbol"/>
        <result column="type" property="type"/>
        <result column="letter" property="letter"/>
        <result column="pronunciation_method" property="pronunciationMethod"/>
        <result column="url" property="url"/>
        <result column="unit_id" property="unitId"/>
        <result column="content" property="content"/>
        <result column="part_url" property="partUrl"/>
    </resultMap>

    <sql id="base_sql">
        id,phonetic_symbol,type,letter,pronunciation_method,url,unit_id,content,part_url
    </sql>
    <!--多表查询-->
    <sql id="more_sql">
        ps.id, ps.phonetic_symbol, ps.type, ps.letter, ps.pronunciation_method, ps.url, ps.unit_id, ps.content, ps.part_url
    </sql>

    <select id="selByUnitId" parameterType="integer" resultType="map">
        select id, phonetic_symbol, type
        from phonetic_symbol
        where unit_id = #{unitId}
        group by phonetic_symbol
    </select>

    <select id="selAllByUnitIdAndSymbol" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="base_sql"/>
        from phonetic_symbol where unit_id=#{unitId} and phonetic_symbol=#{symbol}
    </select>
    <select id="countByUnitId" resultType="java.lang.Integer">
        select count(id)
        from phonetic_symbol
        where unit_id = #{unitId}
    </select>
    <select id="selectLearnedPhoneticSymbolByStudentIdAndUnitId" resultType="java.lang.String" parameterType="map">
        select distinct (ps.phonetic_symbol)
        from phonetic_symbol ps,
             learn l
        where ps.unit_id = l.unit_id
          and l.unit_id = #{unitId}
          and l.student_id = #{studentId}
          and l.study_model = #{studyModel}
          and ps.id = l.vocabulary_id
          and l.type = 1
    </select>
    <select id="selectUnLearnPhoneticSymbolByPhoneticSymbols"
            resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from phonetic_symbol
        <where>
            unit_id = #{unitId}
            <if test="phoneticSymbols.size > 0">
                and phonetic_symbol not in (
                <foreach collection="phoneticSymbols" separator="," item="item">
                    #{item}
                </foreach>
                )
            </if>
        </where>
        limit 1
    </select>


</mapper>
