<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.PhoneticSymbolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.PhoneticSymbol">
        <id column="id" property="id" />
        <result column="phonetic_symbol" property="phoneticSymbol" />
        <result column="type" property="type" />
        <result column="letter" property="letter" />
        <result column="pronunciation_method" property="pronunciationMethod" />
        <result column="url" property="url" />
        <result column="unit_id" property="unitId" />
        <result column="content" property="content" />
        <result column="part_url" property="partUrl" />
    </resultMap>

    <sql id="base_sql">
        id,phonetic_symbol,type,letter,pronunciation_method,url,unit_id,content,part_url
    </sql>
    
    <select id="selByUnitId" parameterType="integer" resultType="map">
        select id,phonetic_symbol,type from phonetic_symbol where unit_id=#{unitId} group by phonetic_symbol
    </select>
    
    <select id="selAllByUnitIdAndSymbol" parameterType="map" resultMap="BaseResultMap">
        select <include refid="base_sql"></include> from phonetic_symbol where unit_id=#{unitId} and phonetic_symbol=#{symbol}
    </select>

</mapper>
