<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.SentenceNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.SentenceNew">
        <id column="id" property="id" />
        <result column="centreExample" property="centreExample" />
        <result column="centreTranslate" property="centreTranslate" />
        <result column="ExampleDisturb" property="ExampleDisturb" />
        <result column="TranslateDisturb" property="TranslateDisturb" />
        <result column="read_url" property="readUrl" />
    </resultMap>

</mapper>
