<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.ShareConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.ShareConfig">
        <id column="id" property="id"/>
        <result column="school_admin_id" property="schoolAdminId"/>
        <result column="img_url" property="imgUrl"/>
        <result column="uploader_id" property="uploaderId"/>
        <result column="img_word" property="imgWord"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="base_sql">
        id,school_admin_id,img_url,uploader_id,img_word,create_time,update_time
    </sql>

    <select id="selectImgByAdminId" resultType="string" parameterType="map">
        select img_url from share_config where school_admin_id=#{adminId}
    </select>

    <select id="selectByAdminId" resultMap="BaseResultMap" parameterType="map">
        select <include refid="base_sql"></include> from share_config where school_admin_id=#{adminId}
    </select>
</mapper>
