<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.StudentExchangePrizeTmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.StudentExchangePrizeTmp">
        <id column="id" property="id" />
        <result column="prize_name" property="prizeName" />
        <result column="student_id" property="studentId" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
    </resultMap>

</mapper>
