<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.StudentExpansionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.StudentExpansion">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="study_power" property="studyPower" />
        <result column="level" property="level"/>
        <result column="is_look" property="isLook"/>
        <result column="audio_status" property="audioStatus"/>
        <result column="test_gold_add" property="testGoldAdd"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, student_id, study_power , level ,is_look, audio_status, test_gold_add
    </sql>

    <select id="selectByStudentId" parameterType="long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from student_expansion where student_id=#{studentId} limit 1
    </select>

</mapper>
