<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.StudentStudyPlanNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.StudentStudyPlanNew">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="course_id" property="courseId" />
        <result column="unit_id" property="unitId" />
        <result column="group" property="group" />
        <result column="complete" property="complete" />
        <result column="current_study_count" property="currentStudyCount" />
        <result column="total_study_count" property="totalStudyCount" />
        <result column="flow_id" property="flowId" />
        <result column="easy_or_hard" property="easyOrHard" />
        <result column="time_level" property="timeLevel" />
        <result column="base_level" property="baseLevel" />
        <result column="error_level" property="errorLevel" />
        <result column="final_level" property="finalLevel" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
