<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.StudentEquipmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.StudentEquipment">
        <id column="id" property="id"/>
        <result column="equipment_id" property="equipmentId"/>
        <result column="student_id" property="studentId"/>
        <result column="intensification_degree" property="intensificationDegree"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="base_sql">
        id,equipment_id,student_id,intensification_degree,`type`,create_time
    </sql>
    <sql id="stu_equ_base_sql">
        stuEqu.id,stuEqu.equipment_id,stuEqu.student_id,stuEqu.intensification_degree,stuEqu.`type`,stuEqu.create_time
    </sql>

    <select id="selectByStudentIdAndType" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="stu_equ_base_sql"/>
        from student_equipment stuEqu
        join equipment equ on stuEqu.equipment_id=equ.id
        where
        stuEqu.student_id =#{studentId}
        and equ.type=#{type}
    </select>
    <select id="selectByStudentIdAndEquipmentId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from student_equipment
        where
        student_id =#{studentId}
        and equipment_id=#{equipmentId}
    </select>
    <select id="selectEquipmentIdsByStudentId" resultType="long" parameterType="map">
        select equipment_id
        from student_equipment
        where student_id = #{studentId}
    </select>
    <select id="countByStudentId" resultType="java.lang.Integer" parameterType="map">
        select count(id)
        from student_equipment
        where student_id = #{studentId}
    </select>
    <update id="updateTypeByEquipmentId" parameterType="map">
        update student_equipment
        set `type`=2
        where student_id =#{studentId}
        and equipment_id in (
        <foreach collection="equipmentIds" item="equipmentId" separator=",">
            #{equipmentId}
        </foreach>
        )
    </update>
    <select id="selectImgUrlByStudentId" parameterType="map" resultType="string">
        select img_url
        from student_equipment stuEq
                 join equipment_expansion expan
                      on stuEq.equipment_id = expan.equipment_id
                 join equipment ment
                      on ment.id = stuEq.equipment_id
                          and stuEq.intensification_degree = expan.intensification_degree
        where stuEq.type = #{type}
          and ment.type = 1
          and stuEq.student_id = #{studentId}
        limit 1
    </select>

</mapper>
