<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.StudentFlowNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.StudentFlowNew">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="current_flow_id" property="currentFlowId"/>
        <result column="learn_id" property="learnId"/>
        <result column="type" property="type"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="base_sql">
        id, student_id, current_flow_id, learn_id, type, update_time
    </sql>

    <sql id="more_table_sql">
        sfn.id, sfn.student_id, sfn.current_flow_id, sfn.learn_id, sfn.type, sfn.update_time
    </sql>
    <select id="selectByStudentIdAndType" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="more_table_sql"/>
        from student_flow_new sfn
        join learn_new ln on sfn.learn_id = ln.id
        and sfn.student_id = #{studentId}
        and sfn.type = #{type}
        limit 1
    </select>
    <select id="selectByLearnId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from student_flow_new sfn
        where sfn.learn_id = #{learnId}
        limit 1
    </select>
    <select id="selectByLearnIdAndType" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from student_flow_new sfn
        where sfn.learn_id = #{learnId}
        and `type`=#{type}
        limit 1
    </select>
    <select id="selectDelIdByLearnIdsAndStudentId" parameterType="map" resultType="long">
        select id from student_flow_new where learn_id not in (
        <foreach collection="learnList" separator="," item="learnId">
            #{learnId}
        </foreach>
        )
        and student_id =#{studentId}
    </select>
    <select id="selectByStudentIdAndUnitIdAndEasyOrHard"
            resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="more_table_sql"/>
        from learn_new ln
        join student_flow_new sfn on ln.id = sfn.learn_id
        and ln.student_id = #{studentId}
        and ln.unit_id = #{unitId}
        and ln.easy_or_hard = #{easyOrHard}
        and sfn.type = 1
        limit 1
    </select>
    <select id="selectByStudentIdAndLearModelType" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="more_table_sql"/>
        from learn_new ln
        join student_flow_new sfn on ln.id = sfn.learn_id and ln.student_id = #{studentId}
        and ln.model_type = #{modelType}
        limit 1
    </select>
    <delete id="deleteByLearnIds" parameterType="map">
        delete from student_flow_new where learn_id in (
        <foreach collection="delLearnIds" item="learnId" separator=",">
            #{learnId}
        </foreach>
        )
    </delete>


</mapper>
