<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.SyntaxUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.SyntaxUnit">
        <id column="id" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="unit_name" property="unitName"/>
        <result column="joint_name" property="jointName"/>
        <result column="unit_index" property="unitIndex"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="more_table_sql">
        su.id, su.course_id, su.unit_name, su.joint_name, su.unit_index, su.update_time
    </sql>

    <select id="selectUnitIdByCourseId" resultType="long" parameterType="long">
        select id
        from syntax_unit
        where course_id = #{courseId}
    </select>
    <select id="selectCurrentUnit" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="more_table_sql"/>
        from syntax_unit su,
        capacity_student_unit csu
        where su.id = csu.unit_id
        and csu.student_id = #{studentId}
        and csu.type = 6
        limit 1
    </select>

</mapper>
