<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.Teacher">
        <id column="id" property="id"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="school_admin_id" property="schoolAdminId"/>
        <result column="school" property="school"/>
        <result column="password" property="password"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="nickname" property="nickname"/>
        <result column="qq" property="qq"/>
    </resultMap>

    <sql id="base_sql">
        id,
        teacher_id,
        school_admin_id,
        school,
        password,
        province,
        city,
        area,
        nickname,
        qq
    </sql>

    <select id="selectByTeacherId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from teacher
        where teacher_id = #{teacherId}
    </select>
    <select id="selectBySchoolAdminId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from teacher where school_admin_id = #{schoolAdminId}
    </select>
    <select id="selectSchoolAdminIdByTeacherId" resultType="java.lang.Integer" parameterType="map">
        select school_admin_id
        from teacher
        where teacher_id = #{teacherId}
           or school_admin_id = #{teacherId}
        limit 1
    </select>

    <select id="selectTeacherBySchoolAdminId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"></include>
        from teacher
        where teacher_id = #{teacherId}
        or school_admin_id = #{teacherId}
        limit 1
    </select>
    <select id="selectAllAdminId" parameterType="map" resultType="long">
        select
        school_admin_id
        from teacher
        group by school_admin_id
    </select>

</mapper>
