<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.TeksNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.TeksNew">
        <id column="id" property="id"/>
        <result column="sentence" property="sentence"/>
        <result column="speaker" property="speaker"/>
        <result column="paraphrase" property="paraphrase"/>
        <result column="pronunciation" property="pronunciation"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <sql id="base_sql">
        id,sentence,speaker,paraphrase,pronunciation,update_time
    </sql>
    <sql id="teks_base_sql">
        teks.id,teks.sentence,teks.speaker,teks.paraphrase,teks.pronunciation,teks.update_time
    </sql>

    <select id="selTeksByUnitIdAndGroup" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="teks_base_sql"/>
        from teks_new teks
        join unit_teks_new u
        where teks.id = u.teks_id
        and u.unit_id = #{unitId}
        and u.group = #{group}
    </select>
    <select id="getTwentyTeks" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="base_sql"/>
        from teks t order by rand() limit 20
    </select>

</mapper>
