<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.TestAnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.TestAnswer">
        <id column="id" property="id" />
        <result column="test_store_id" property="testStoreId" />
        <result column="select" property="select" />
        <result column="answer" property="answer" />
        <result column="analysis" property="analysis" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
