<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.TotalHistoryPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.TotalHistoryPlan">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="total_online_time" property="totalOnlineTime"/>
        <result column="total_vaild_time" property="totalVaildTime"/>
        <result column="total_word" property="totalWord"/>
        <result column="total_point" property="totalPoint"/>
    </resultMap>

    <sql id="base_sql">
        id,student_id,total_online_time,total_vaild_time,total_word,total_point
    </sql>

    <select id="selectByStudentId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="base_sql"></include>
        from total_history_plan
        where
        student_id=#{studentId}
    </select>
    <delete id="deleteByStudentIds" parameterType="map">
        delete from total_history_plan
        where student_id in (
        <foreach collection="studentIds" item="studentId" separator=",">
            #{studentId}
        </foreach>
        )
    </delete>
</mapper>
