<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.UnitNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.UnitNew">
        <id column="id" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="unit_name" property="unitName"/>
        <result column="joint_name" property="jointName"/>
        <result column="delStatus" property="delStatus"/>
        <result column="unit_index" property="unitIndex"/>
    </resultMap>
    <select id="selectByGradeListAndVersionAndGrade" resultType="java.lang.Long">
        select distinct(u.id)
        from course_new c, unit_new u
        where c.id = u.course_id
        and c.version = #{version}
        and c.grade in (
        <foreach collection="gradeList" item="grade" separator=",">
            #{grade}
        </foreach>)
    </select>
    <select id="selectLessOrEqualsCurrentIdByCourseIdAndUnitId" resultType="java.lang.Long" parameterType="map">
        select distinct(id)
        from unit_new
        where course_id = #{courseId}
          and id &lt;= #{unitId}
    </select>
    <select id="selectIdsByCourseNames" resultType="java.lang.Long" parameterType="map">
        select distinct (u.id)
        from unit_new u, course_new c
        where u.course_id = c.id
        and c.course_name in (
        <foreach collection="courseNames" item="courseName" separator=",">
            #{courseName}
        </foreach>
        )
    </select>
    <select id="selectCountByUnitIds" resultType="map" parameterType="map">
        select new.id unitId,
        (select count(voc.id) from unit_vocabulary_new voc where voc.unit_id=new.id )+
        (select count(sen.id) from unit_sentence_new sen where sen.unit_id=new.id)+
        (select count(teks.id) from unit_teks_new teks where teks.unit_id=new.id) count
        from unit_new new where id in (
        <foreach collection="unitIds" separator="," item="unitId">
            #{unitId}
        </foreach>
        )
    </select>
    <select id="selectByUnitIdAndCourseId" resultType="int" parameterType="map">
        select count(id)
        from unit_new
        where course_id = #{courseId}
          and id &lt; #{unitId}
    </select>
    <select id="selectIdAndNameByCourseId" resultType="java.util.Map" parameterType="map">
        select u.id unitId, u.unit_name unitName from unit_new u
        <if test="type == 1">
            left join unit_vocabulary_new uvn on uvn.unit_id = u.id
        </if>
        <if test="type == 2">
            left join unit_sentence_new usn on usn.unit_id = u.id
        </if>

        <if test="type == 4">
            left join unit_teks_new utn on utn.unit_id = u.id
        </if>
        and u.course_id = #{courseId}
        order by u.id
    </select>

</mapper>
