<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.UnitVocabularyNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.UnitVocabularyNew">
        <id column="id" property="id"/>
        <result column="unit_id" property="unitId"/>
        <result column="vocabulary_id" property="vocabularyId"/>
        <result column="classify" property="classify"/>
        <result column="word_chinese" property="wordChinese"/>
        <result column="group" property="group"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="base_sql">
        id, unit_id, vocabulary_id, classify, word_chinese, `group`, update_time
    </sql>

    <select id="selectInterferenceTerm" resultType="string" parameterType="map">
        select word_chinese
        from unit_vocabulary_new
        where vocabulary_id &lt;> #{wordId}
          and unit_id = #{unitId}
          and word_chinese &lt;> #{chinese}
        limit 0,3
    </select>
    <select id="countPicture" resultType="java.lang.Integer" parameterType="map">
        select count(v.id)
        from vocabulary v,
             unit_vocabulary_new uv
        where uv.unit_id = #{unitId}
          and uv.vocabulary_id = v.id
          and uv.group = #{group}
          and (v.small_picture_url is not null
            or v.middle_picture_url is not null
            or v.high_picture_url is not null)
    </select>
    <select id="selectByUnitIdAndGroup" resultType="com.zhidejiaoyu.common.vo.beforelearngame.VocabularyVO"
            parameterType="map">
        select v.word,
               uvn.word_chinese wordChinese,
               uvn.unit_id      unitId
        from unit_vocabulary_new uvn
                 join vocabulary v on uvn.vocabulary_id = v.id
        where unit_id = #{unitId}
          and `group` = #{group}
    </select>
    <select id="selectWordChineseMapByUnitIdAndWordIds" resultType="java.util.Map" parameterType="map">
        SELECT
        vocabulary_id id,
        word_chinese wordChinese
        FROM
        unit_vocabulary_new
        WHERE
        unit_id = #{unitId}
        and vocabulary_id in (
        <foreach collection="idSet" separator="," item="id">
            #{id}
        </foreach>
        )
    </select>
    <select id="selectWordChineseMapByCourseIdIdAndWordIds" resultType="java.util.Map" parameterType="map">
        SELECT
        vocabulary_id id,
        word_chinese wordChinese
        FROM
        unit_vocabulary_new
        WHERE
        unit_id IN (
        SELECT id
        FROM
        unit_new
        WHERE
        course_id = #{courseId}
        )
        AND vocabulary_id IN (
        <foreach collection="idSet" item="id" separator=",">
            #{id}
        </foreach>
        )
    </select>
    <select id="selectWordChineseMapByCourseIdIdAndWordIds5DTest" resultType="java.util.Map" parameterType="map">
        SELECT
        vocabulary_id id,
        word_chinese wordChinese
        FROM
        unit_vocabulary_new
        WHERE
        unit_id IN (
        SELECT
        b.id
        FROM
        course_new a
        JOIN unit_new b ON a.id = b.course_id
        AND a.version like '${start}%' AND a.version like '%${end}'
        )
        AND vocabulary_id
        IN (
        <foreach collection="idSet" item="id" separator=",">
            #{id}
        </foreach>
        )
    </select>
    <select id="countTotalWordMapByUnitIds" resultType="java.util.Map" parameterType="map">
        select unit_id unitId, count(vocabulary_id) count from unit_vocabulary_new where unit_id in (
        <foreach collection="unitIds" separator="," item="unitId">
            #{unitId}
        </foreach>
        )
        group by unit_id
    </select>
    <select id="selectWordChineseMapByUnitId" resultType="java.util.Map" parameterType="java.lang.Long">
        SELECT vocabulary_id id,
               word_chinese  wordChinese
        FROM unit_vocabulary_new
        WHERE unit_id = #{unitId}
    </select>
    <select id="selectWordIdByUnitIdAndGroup" resultType="long" parameterType="map">
        select
		word_id
		from unit_vocabulary_new unit
		join vocabulary voc
		on unit.vocabulary_id = voc.id
		where unit.unit_id =#{unitId}
		and unit.group =#{group}
		and voc.delStatus=1
    </select>
</mapper>
