<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.UnitVocabularyNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.UnitVocabularyNew">
        <id column="id" property="id"/>
        <result column="unit_id" property="unitId"/>
        <result column="vocabulary_id" property="vocabularyId"/>
        <result column="classify" property="classify"/>
        <result column="word_chinese" property="wordChinese"/>
        <result column="group" property="group"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="base_sql">
        id, unit_id, vocabulary_id, classify, word_chinese, `group`, update_time
    </sql>

    <select id="selectInterferenceTerm" resultType="string" parameterType="map">
        select word_chinese
        from unit_vocabulary_new
        where vocabulary_id &lt;> #{wordId}
          and unit_id = #{unitId}
          and word_chinese &lt;> #{chinese}
        limit 0,3
    </select>
    <select id="countPicture" resultType="java.lang.Integer" parameterType="map">
        select count(v.id)
        from vocabulary v,
             unit_vocabulary_new uv
        where uv.unit_id = #{unitId}
          and uv.vocabulary_id = v.id
          and uv.group = #{group}
          and (v.small_picture_url is not null
            or v.middle_picture_url is not null
            or v.high_picture_url is not null)
    </select>
    <select id="selectByUnitIdAndGroup" resultType="com.zhidejiaoyu.common.vo.beforelearngame.VocabularyVO"
            parameterType="map">
        select v.word,
               uvn.word_chinese wordChinese,
               uvn.unit_id      unitId
        from unit_vocabulary_new uvn
                 join vocabulary v on uvn.vocabulary_id = v.id
        where unit_id = #{unitId}
          and `group` = #{group}
    </select>

</mapper>
