<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhidejiaoyu.common.mapper.VocabularyNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhidejiaoyu.common.pojo.VocabularyNew">
        <id column="id" property="id" />
        <result column="word" property="word" />
        <result column="word_chinese" property="wordChinese" />
        <result column="example_english" property="exampleEnglish" />
        <result column="example_chinese" property="exampleChinese" />
        <result column="centreExample" property="centreExample" />
        <result column="centreTranslate" property="centreTranslate" />
        <result column="tallExample" property="tallExample" />
        <result column="tallTranslate" property="tallTranslate" />
        <result column="explain_" property="explain" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="course_unit" property="courseUnit" />
        <result column="classify" property="classify" />
        <result column="upage" property="upage" />
        <result column="match" property="match" />
        <result column="think" property="think" />
        <result column="record" property="record" />
        <result column="recordpicname" property="recordpicname" />
        <result column="recordpicurl" property="recordpicurl" />
        <result column="discriminate" property="discriminate" />
        <result column="delStatus" property="delStatus" />
        <result column="syllable" property="syllable" />
        <result column="sound_mark" property="soundMark" />
        <result column="read_url" property="readUrl" />
        <result column="small_picture_url" property="smallPictureUrl" />
        <result column="middle_picture_url" property="middlePictureUrl" />
        <result column="high_picture_url" property="highPictureUrl" />
    </resultMap>

</mapper>
