<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="com.zhidejiaoyu.common.mapper.VocabularyMapper">
    <resultMap id="BaseResultMap"
               type="com.zhidejiaoyu.common.pojo.Vocabulary">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="word" property="word" jdbcType="VARCHAR"/>
        <result column="word_chinese" property="wordChinese"
                jdbcType="VARCHAR"/>
        <result column="example_english" property="exampleEnglish"
                jdbcType="VARCHAR"/>
        <result column="example_chinese" property="exampleChinese"
                jdbcType="VARCHAR"/>
        <result column="explain_" property="explain_"
                jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime"
                jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime"
                jdbcType="TIMESTAMP"/>
        <result column="course_unit" property="courseUnit"
                jdbcType="VARCHAR"/>
        <result column="syllable" property="syllable"
                jdbcType="VARCHAR"/>
        <result column="delStatus" property="delStatus"
                jdbcType="VARCHAR"/>
        <result column="sound_mark" property="soundMark"/>
        <result column="read_url" property="readUrl"/>
    </resultMap>
    <sql id="insertWord_sql">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!-- <if test="id != null" > id, </if> -->
            <if test="word != null">
                word,
            </if>
            <if test="wordChinese != null">
                word_chinese,
            </if>
            <if test="exampleEnglish != null">
                example_english,
            </if>
            <if test="exampleChinese != null">
                example_chinese,
            </if>
            <if test="explain_ != null">
                explain_,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="courseUnit != null">
                course_unit,
            </if>

            <if test="centreExample != null">
                centreExample,
            </if>
            <if test="centreTranslate != null">
                centreTranslate,
            </if>
            <if test="tallExample != null">
                tallExample,
            </if>
            <if test="tallTranslate != null">
                tallTranslate,
            </if>
            <!-- <if test="classify != null" > classify, </if> -->
            <if test="upage != null">
                upage,
            </if>
            <if test="match != null">
                `match`,
            </if>
            <if test="think != null">
                think,
            </if>
            <if test="record != null">
                record,
            </if>
            <if test="recordpicname != null">
                recordpicname,
            </if>
            <if test="recordpicurl != null">
                recordpicurl,
            </if>
            <if test="discriminate != null">
                discriminate,
            </if>
            <if test="syllable != null">
                syllable,
            </if>
            <if test="delStatus != null">
                delStatus,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="word != null">
                #{word,jdbcType=VARCHAR},
            </if>
            <if test="wordChinese != null">
                #{wordChinese,jdbcType=VARCHAR},
            </if>
            <if test="exampleEnglish != null">
                #{exampleEnglish,jdbcType=VARCHAR},
            </if>
            <if test="exampleChinese != null">
                #{exampleChinese,jdbcType=VARCHAR},
            </if>
            <if test="explain_ != null">
                #{explain_,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="courseUnit != null">
                #{courseUnit,jdbcType=VARCHAR},
            </if>

            <if test="centreExample != null">
                #{centreExample},
            </if>
            <if test="centreTranslate != null">
                #{centreTranslate},
            </if>
            <if test="tallExample != null">
                #{tallExample},
            </if>
            <if test="tallTranslate != null">
                #{tallTranslate},
            </if>
            <!-- <if test="classify != null" > #{classify}, </if> -->
            <if test="upage != null">
                #{upage},
            </if>
            <if test="match != null">
                #{match},
            </if>
            <if test="think != null">
                #{think},
            </if>
            <if test="record != null">
                #{record},
            </if>
            <if test="recordpicname != null">
                #{recordpicname},
            </if>
            <if test="recordpicurl != null">
                #{recordpicurl},
            </if>
            <if test="discriminate != null">
                #{discriminate},
            </if>
            <if test="syllable != null">
                #{syllable},
            </if>
            <if test="delStatus != null">
                #{delStatus},
            </if>
        </trim>
    </sql>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria"
                     separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value}
                                    and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem"
                                             open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria"
                     separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value}
                                    and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem"
                                             open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, word, word_chinese, example_english, example_chinese,
        explain_,
        create_time,
        update_time,
        course_unit,
        syllable,
        delStatus,
        sound_mark,
        read_url
    </sql>

    <!-- 多表查询返回结果 -->
    <sql id="unite_Column_List">
        v.id, v.word, v.word_chinese, v.example_english,
        v.example_chinese,
        v.explain_,
        v.create_time,
        v.update_time,
        v.course_unit,
        v.syllable,
        v.delStatus,
        v.recordpicurl,
        v.read_url,
        v.sound_mark
    </sql>

    <!-- 根据学生id查询当前单元下指定模块的未学习的所有单词 -->
    <select id="selectUnlearnedByUnitId" resultMap="BaseResultMap"
            parameterType="map">
        SELECT
        distinct <include refid="unite_Column_List"/>
        FROM
        unit_vocabulary uv,
        vocabulary v
        WHERE
        v.id = uv.vocabulary_id
        AND v.delStatus = 1
        AND uv.unit_id = #{unitId}
        <if test="studyModel == '单词图鉴'">
            AND v.recordpicurl IS NOT NULL
        </if>
        AND uv.vocabulary_id NOT IN (
        SELECT
        l.vocabulary_id
        FROM
        learn l
        WHERE
        l.student_id = #{studentId}
        AND l.vocabulary_id = v.id
        AND
        unit_id = #{unitId}
        AND study_model = #{studyModel}
        )
    </select>

    <!-- 根据学生id查询当前单元下指定模块的所有生词/熟词 -->
    <select id="selectUnknownWordByUnitId" resultMap="BaseResultMap"
            parameterType="map">
        SELECT
        distinct <include refid="unite_Column_List"/>
        FROM vocabulary v,learn l where v.id =
        l.vocabulary_id and
        v.delStatus =
        1 and l.study_model = #{studyModel}
        and l.student_id=#{studentId} and
        l.unit_id=#{unitId}
        <if test="studyModel == '单词图鉴'">
            and v.recordpicurl is not null
        </if>
        <if test="condition == 2">
            -- 生词
            and l.`status` = 0
        </if>
        <if test="condition == 3">
            -- 熟词
            and l.`status` = 1
        </if>
    </select>

    <!-- 获取当前单元下的所有单词信息(不含删除的单词) -->
    <select id="selectByUnitId" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        SELECT
        distinct
        <include refid="unite_Column_List"/>
        FROM vocabulary
        v, unit_vocabulary uv
        where uv.unit_id = #{unitId}
        AND v.id
        =
        uv.vocabulary_id AND v.delStatus = 1
    </select>

    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.zhidejiaoyu.common.pojo.VocabularyExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from vocabulary
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByWordIds" parameterType="java.util.List"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vocabulary
        where id in
        <foreach collection="ids" open="(" close=")" separator=","
                 item="item">
            #{item}
        </foreach>
        and delStatus = 1
        order by id desc
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from vocabulary
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from
            vocabulary
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample"
            parameterType="com.zhidejiaoyu.common.pojo.VocabularyExample">
        delete from vocabulary
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insertSelective"
            parameterType="com.zhidejiaoyu.common.pojo.Vocabulary">
        insert into vocabulary
        <include refid="insertWord_sql"></include>
    </insert>
    <select id="countByExample"
            parameterType="com.zhidejiaoyu.common.pojo.VocabularyExample"
            resultType="java.lang.Integer">
        select count(*) from vocabulary
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update vocabulary
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.word != null">
                word = #{record.word,jdbcType=VARCHAR},
            </if>
            <if test="record.wordChinese != null">
                word_chinese = #{record.wordChinese,jdbcType=VARCHAR},
            </if>
            <if test="record.exampleEnglish != null">
                example_english =
                #{record.exampleEnglish,jdbcType=VARCHAR},
            </if>
            <if test="record.exampleChinese != null">
                example_chinese =
                #{record.exampleChinese,jdbcType=VARCHAR},
            </if>
            <if test="record.explain_ != null">
                explain_ = #{record.explain_,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.courseUnit != null">
                course_unit = #{record.courseUnit,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update vocabulary
        set id = #{record.id,jdbcType=BIGINT},
        word =
        #{record.word,jdbcType=VARCHAR},
        word_chinese =
        #{record.wordChinese,jdbcType=VARCHAR},
        example_english =
        #{record.exampleEnglish,jdbcType=VARCHAR},
        example_chinese =
        #{record.exampleChinese,jdbcType=VARCHAR},
        explain_ =
        #{record.explain_,jdbcType=VARCHAR},
        create_time =
        #{record.createTime,jdbcType=TIMESTAMP},
        update_time =
        #{record.updateTime,jdbcType=TIMESTAMP},
        course_unit =
        #{record.courseUnit,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.zhidejiaoyu.common.pojo.Vocabulary">
        update vocabulary
        <set>
            <if test="word != null">
                word = #{word,jdbcType=VARCHAR},
            </if>
            <if test="wordChinese != null">
                word_chinese = #{wordChinese,jdbcType=VARCHAR},
            </if>
            <if test="exampleEnglish != null">
                example_english = #{exampleEnglish,jdbcType=VARCHAR},
            </if>
            <if test="exampleChinese != null">
                example_chinese = #{exampleChinese,jdbcType=VARCHAR},
            </if>
            <if test="explain_ != null">
                explain_ = #{explain_,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="courseUnit != null">
                course_unit = #{courseUnit,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.zhidejiaoyu.common.pojo.Vocabulary">
        update vocabulary
        set word            = #{word,jdbcType=VARCHAR},
            word_chinese    = #{wordChinese,jdbcType=VARCHAR},
            example_english =
            #{exampleEnglish,jdbcType=VARCHAR},
            example_chinese =
            #{exampleChinese,jdbcType=VARCHAR},
            explain_        =
            #{explain_,jdbcType=VARCHAR},
            create_time     = #{createTime,jdbcType=TIMESTAMP},
            update_time     =
            #{updateTime,jdbcType=TIMESTAMP},
            course_unit     =
            #{courseUnit,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="wordAdd" parameterType="vocabulary"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into vocabulary
        <include refid="insertWord_sql"/>
    </insert>

    <resultMap id="pageMap"
               type="com.zhidejiaoyu.common.pojo.Vocabulary">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <!-- <result column="" property="wordid" /> -->
        <result column="word" property="word"/>
        <result column="word_chinese" property="wordChinese"/>
        <!-- <result column="explain_" property="explain_" /> -->
        <!-- <result column="example_english" property="exampleEnglish" /> -->
        <!-- <result column="example_chinese" property="exampleChinese" /> -->
        <!-- <result column="joint_name" property="joint_name" /> -->

        <result column="upage" property="upage"/>
        <result column="`match`" property="match"/>
        <result column="think" property="think"/>
        <result column="record" property="record"/>
        <result column="discriminate" property="discriminate"/>
        <result column="centreExample" property="centreExample"/>
        <result column="centreTranslate" property="centreTranslate"/>
        <result column="tallExample" property="tallExample"/>
        <result column="tallTranslate" property="tallTranslate"/>
        <result column="recordpicurl" property="recordpicurl"/>
        <result column="explain_" property="explain_"/>
        <result column="classify" property="strClassify"/>
    </resultMap>
    <select id="page" parameterType="vocabulary" resultMap="pageMap">
        select
        a.joint_name,
        c.id,c.word,c.word_chinese,c.syllable,c.delStatus,
        c.upage ,c.match ,c.think,
        c.record, c.discriminate,
        c.classify,
        c.centreExample, c.centreTranslate, c.tallExample, c.tallTranslate,
        c.explain_
        from unit a INNER JOIN unit_vocabulary b on a.id = b.unit_id
        INNER JOIN vocabulary c on b.vocabulary_id = c.id
        <where>
            <if test="course_id != null and course_id != '' ">
                and a.course_id = #{course_id}
            </if>
            <if test="word != null and word != '' ">
                and c.word like '%${word}%'
            </if>
            <if test="wordChinese != null and wordChinese != '' ">
                and c.word_chinese = #{wordChinese}
            </if>
        </where>
        GROUP BY c.id order by c.id desc
    </select>

    <select id="mapSelectVocabulary" parameterType="String"
            resultMap="pageMap">
        select * from vocabulary where id = #{id}
        <!-- select a.id ,a.word ,a.word_chinese  ,a.`status`  ,a.upage  ,a.`match`  ,a.think  ,a.record  ,a.discriminate  ,a.recordpicurl  ,a.explain_, a.syllable
        ,b.classify from vocabulary a JOIN unit_vocabulary b ON a.id = b.vocabulary_id AND a.id = #{id} -->
    </select>

    <!-- 根据id更改词汇 -->
    <update id="wordUpdate" parameterType="Vocabulary">
        update vocabulary
        set
        word = #{word},
        word_chinese = #{wordChinese},
        syllable = #{syllable},
        centreExample = #{centreExample},
        centreTranslate = #{centreTranslate},
        tallExample = #{tallExample},
        tallTranslate = #{tallTranslate},
        upage =
        #{upage},
        `match` = #{match},
        think = #{think},
        record = #{record},
        discriminate = #{discriminate},
        <if test="recordpicurl != null and recordpicurl != '' ">
            recordpicurl = #{recordpicurl},
        </if>
        explain_ = #{explain_},
        delStatus = #{delStatus}

        where id = #{id}
    </update>

    <delete id="delUnit_vocabulary" parameterType="UnitVocabulary">
        delete from
            unit_vocabulary
        where vocabulary_id = #{vocabularyId} ${str}
    </delete>

    <select id="showWord" parameterType="map" resultMap="BaseResultMap">
        SELECT
           <include refid="unite_Column_List"/>
        FROM
            vocabulary v,
            unit_vocabulary uv
        WHERE
            v.id = uv.vocabulary_id
            AND uv.unit_id = #{unit_id}
            AND v.delStatus = 1
            AND v.id NOT IN (
                SELECT l1.vocabulary_id
                FROM
                    learn l1
                WHERE
                    l1.student_id = #{id}
                  and l1.type = 1
                  AND l1.unit_id = #{unit_id}
                  AND l1.study_model = '慧听写')
        LIMIT 0, 1
    </select>
    <select id="countByCourseId" resultType="java.lang.Integer" parameterType="map">
        select count(uv.vocabulary_id)
        from vocabulary v, unit_vocabulary uv, unit u
        where v.id = uv.vocabulary_id and v.delStatus = 1
              and uv.unit_id = u.id and u.course_id = #{courseId}
        <if test="flag == 1">
            and v.recordpicurl is not null
        </if>
    </select>

    <select id="pageWord" parameterType="map" resultMap="pageMap">
        select
        id, word, word_chinese, explain_, classify, `match`, think, upage, record, discriminate, syllable, delStatus
        from
        vocabulary
        <where>
            <if test="word != null and word != '' ">
                word like '%${word}%'
            </if>
        </where>
        order by id desc
    </select>
    <select id="selectByStudentPhase" resultMap="BaseResultMap" parameterType="map">
        SELECT
        DISTINCT
        <include refid="unite_Column_List"/>
        FROM
        vocabulary v,
        unit_vocabulary uv,
        course c,
        unit u
        WHERE
        v.id = uv.vocabulary_id
        AND uv.unit_id = u.id
        AND u.course_id = c.id
        AND v.delStatus = 1
        AND c.delStatus = 1
        AND u.delStatus = 1
        AND c.version = #{student.version}
        <if test="flag == 1">
            AND c.grade = '七年级'
        </if>
        <if test="flag == 2">
            AND c.grade = '高一'
        </if>
        <if test="flag == 3">
            AND c.grade = '高中'
            AND c.label = '必修1'
        </if>
    </select>
    <!--类型区分-->
    <sql id="study_model_sql">
        <if test="model == 0">
            and study_model = '单词图鉴'
        </if>
        <if test="model == 1">
            and study_model = '慧记忆'
        </if>
        <if test="model == 2">
            and study_model = '慧听写'
        </if>
        <if test="model == 3">
            and study_model = '慧默写'
        </if>
        <if test="model == 4">
            and study_model = '例句听力'
        </if>
        <if test="model == 5">
            and study_model = '例句翻译'
        </if>
        <if test="model == 6">
            and study_model = '例句默写'
        </if>
    </sql>
    <sql id="countCourseStudyModel_sql">
        <if test="model == 0 or model == 1 or model == 2 or model == 3">
            example_id IS NULL
        </if>
        <if test="model == 4 or model == 5 or model == 6">
            vocabulary_id IS NULL
        </if>
    </sql>
    <select id="countUnitWeek" parameterType="map" resultType="Integer">
        SELECT COUNT(*) FROM unit a JOIN unit_vocabulary b ON a.id = b.unit_id AND a.course_id = #{course_id} AND a.id =
        (select MAX(unit_id) from learn where student_id = #{studentId} AND course_id = #{course_id}
        <include refid="study_model_sql"/>
        AND<include refid="countCourseStudyModel_sql"/>)
    </select>
    <select id="selectSyllableByWordId" resultType="java.util.Map" parameterType="map">
        SELECT
        v.id id,
        v.syllable syllable
        FROM
        vocabulary v
        WHERE
        v.id IN (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )
    </select>
    <select id="selectOneWordNotInIds" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="unite_Column_List"/>
        FROM
        vocabulary v,
        unit_vocabulary uv
        WHERE
        v.delStatus = 1
        AND uv.vocabulary_id = v.id
        AND uv.unit_id = #{unitId}
        <if test="wordIds.size > 0">
            AND v.id NOT IN (
            <foreach collection="wordIds" item="id" separator=",">
                #{id}
            </foreach>
            )
        </if>
        ORDER BY
        v.id ASC
        LIMIT 1;
    </select>
    <select id="selectIdsByWord" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from vocabulary where word = #{word}
    </select>
    <select id="selectByCourseId" resultMap="BaseResultMap" parameterType="map">
        SELECT
        distinct <include refid="unite_Column_List"/>
        FROM vocabulary v, unit_vocabulary uv, unit u
        WHERE v.delStatus = 1 AND v.id = uv.vocabulary_id AND u.id = uv.unit_id AND
        u.course_id = #{courseId}
    </select>
    <select id="selectUnknownWordByCourseId" resultMap="BaseResultMap" parameterType="map">
        SELECT
        distinct <include refid="unite_Column_List"/>
        FROM vocabulary v,learn l where v.id =
        l.vocabulary_id and
        v.delStatus =
        1 and l.study_model = #{studyModel}
        and l.student_id=#{studentId} and
        l.course_id=#{courseId}
        <if test="studyModel == '单词图鉴'">
            and v.recordpicurl is not null
        </if>
        <if test="condition == 2">
            -- 生词
            and l.`status` = 0
        </if>
        <if test="condition == 3">
            -- 熟词
            and l.`status` = 1
        </if>
    </select>
    <select id="selectUnlearnedByCourseId" resultMap="BaseResultMap" parameterType="map">
        SELECT
        distinct <include refid="unite_Column_List"/>
        FROM
        unit_vocabulary uv,
        vocabulary v,
        unit u
        WHERE
        v.id = uv.vocabulary_id
        AND v.delStatus = 1
        AND u.id = uv.unit_id
        AND u.course_id = #{courseId}
        <if test="studyModel == '单词图鉴'">
            AND v.recordpicurl IS NOT NULL
        </if>
        AND uv.vocabulary_id NOT IN (
        SELECT
        l.vocabulary_id
        FROM
        learn l
        WHERE
        l.student_id = #{studentId}
        AND l.vocabulary_id = v.id
        AND
        l.course_id = #{courseId}
        AND l.study_model = #{studyModel}
        )
    </select>
    <select id="selectUnitIdsNotInIds" resultType="java.lang.Long" parameterType="map">
        select unit_id
        from unit_vocabulary
        where
            vocabulary_id = #{nv.vocabularyId} ${nv.str}
    </select>

    <select id="pagePicNotNull" parameterType="vocabulary" resultMap="pageMap">
        select
        a.joint_name,
        c.id,c.word,c.word_chinese,c.syllable,c.delStatus,
        c.upage ,c.match ,c.think,
        c.record, c.discriminate,
        c.classify,
        c.centreExample, c.centreTranslate, c.tallExample, c.tallTranslate,
        c.explain_
        from unit a INNER JOIN unit_vocabulary b on a.id = b.unit_id
        INNER JOIN vocabulary c on b.vocabulary_id = c.id
        <where>
            c.recordpicurl is not null
            <if test="course_id != null and course_id != '' ">
                and a.course_id = #{course_id}
            </if>
            <if test="word != null and word != '' ">
                and c.word like '%${word}%'
            </if>
            <if test="wordChinese != null and wordChinese != '' ">
                and c.word_chinese = #{wordChinese}
            </if>
        </where>
        GROUP BY c.id order by c.id desc
    </select>
    <select id="pageWordPicNotNull" parameterType="map" resultMap="pageMap">
        select
        id, word, word_chinese, explain_, classify, `match`, think, upage, record, discriminate, syllable, delStatus
        from
        vocabulary
        <where>
            recordpicurl is not null
            <if test="word != null and word != '' ">
               and word like '%${word}%'
            </if>
        </where>
        order by id desc
    </select>
    <select id="getWordIdByCourse" resultType="map" parameterType="map">
        SELECT
        a.id,
        a.word,
        a.word_chinese,
        a.recordpicurl
        FROM
        vocabulary a
        JOIN unit_vocabulary b ON a.id = b.vocabulary_id
        JOIN unit c ON b.unit_id = c.id
        AND recordpicurl IS NOT NULL
        AND a.delStatus = 1
        AND b.unit_id &lt;&gt; #{unidId}
        AND a.id &lt;&gt; #{correctWordId}
        AND course_id = #{courseId}
        ORDER BY rand() LIMIT 3
    </select>

    <select id="getWordPicAll" resultMap="BaseResultMap" parameterType="map">
        select b.id, b.word, a.word_chinese, b.recordpicurl from unit_vocabulary a join vocabulary b on a.vocabulary_id = b.id
        and a.unit_id = #{unitId} and b.recordpicurl is not null and b.delStatus = 1;
    </select>
    <select id="getWordIdByCourseAll" resultMap="BaseResultMap" parameterType="map">
        SELECT
        a.id,
        a.word,
        a.word_chinese,
        a.recordpicurl
        FROM
        vocabulary a
        JOIN unit_vocabulary b ON a.id = b.vocabulary_id
        JOIN unit c ON b.unit_id = c.id
        AND recordpicurl IS NOT NULL
        AND a.delStatus = 1
        AND course_id = #{courseId}
    </select>
    <select id="getWordIdByAll" resultMap="BaseResultMap" parameterType="map">
      select id, word, word_chinese, recordpicurl from vocabulary where recordpicurl is not NULL ORDER BY RAND() LIMIT ${size}
    </select>
    <select id="getWordIdByUnit" resultType="java.util.Map" parameterType="map">
        SELECT
        a.id,
        a.word,
        a.word_chinese,
        a.recordpicurl
        FROM
        vocabulary a
        JOIN unit_vocabulary b ON a.id = b.vocabulary_id
        AND recordpicurl IS NOT NULL
        AND a.delStatus = 1
        AND a.id &lt;&gt; #{id}
        AND b.unit_id = #{unitId}
        ORDER BY rand() LIMIT 3
    </select>
    <select id="selectByUnitIdAndStudyModel" resultMap="BaseResultMap" parameterType="map">
        SELECT
        distinct <include refid="unite_Column_List"/>
        FROM vocabulary
        v, unit_vocabulary uv
        where uv.unit_id = #{unitId}
        AND v.id = uv.vocabulary_id AND v.delStatus = 1
        <if test="studyModel == '单词图鉴'">
            AND v.recordpicurl IS NOT NULL
        </if>
    </select>
    <select id="selectByCourseIdAndStudyModel" resultMap="BaseResultMap" parameterType="map">
        SELECT
        distinct <include refid="unite_Column_List"/>
        FROM vocabulary v, unit_vocabulary uv, unit u
        WHERE v.delStatus = 1 AND v.id = uv.vocabulary_id AND u.id = uv.unit_id
        <if test="studyModel == '单词图鉴'">
            AND v.recordpicurl IS NOT NULL
        </if>
        AND u.course_id = #{courseId}
    </select>
    <select id="getMemoryWordPicAll" resultMap="BaseResultMap" parameterType="map">
        select b.id, b.word, b.word_chinese, b.recordpicurl from capacity_picture a JOIN vocabulary b ON a.vocabulary_id = b.id
        AND a.student_id = #{studentId} AND a.unit_id=#{unit_id} AND a.push &lt; #{data} and a.memory_strength &lt; 1 AND b.delStatus = 1
    </select>
    <select id="selectWordChineseByVersionAndWordId" resultType="java.lang.String" parameterType="map">
        SELECT DISTINCT
        uv.word_chinese
        FROM
        vocabulary v,
        unit_vocabulary uv,
        course c,
        unit u
        WHERE
        v.id = uv.vocabulary_id
        AND uv.unit_id = u.id
        AND u.course_id = c.id
        AND v.delStatus = 1
        AND c.delStatus = 1
        AND u.delStatus = 1
        AND c.version = #{version}
        <if test="phase == '初中'">
            AND c.grade = '七年级'
        </if>
        <if test="phase == '高中'">
            AND c.grade = '高一'
        </if>
        AND v.id = #{wordId}
        LIMIT 1;
    </select>
    <select id="countByModel" resultType="java.lang.Integer">
        <if test="model == 0">
            select count(*) from unit_vocabulary a JOIN vocabulary b ON a.vocabulary_id = b.id
            and a.unit_id = #{unitId} AND b.delStatus = 1 AND b.recordpicurl is not NULL
        </if>
        <if test="model == 1 or model == 2 or model == 3">
            select count(*) from unit_vocabulary a JOIN vocabulary b ON a.vocabulary_id = b.id
            and a.unit_id = #{unitId} AND b.delStatus = 1
        </if>
        <if test="model == 4 or model == 5 or model == 6">
            select count(*) FROM unit_sentence a JOIN sentence b ON a.sentence_id = b.id
            AND a.unit_id = #{unitId}
        </if>

    </select>
    <select id="selectWordVoice" resultType="com.zhidejiaoyu.common.pojo.Vocabulary" parameterType="map">
        SELECT
        distinct
        <include refid="unite_Column_List"/>
        FROM vocabulary
        v, unit_vocabulary uv,
        student_unit su
        where su.unit_id = uv.unit_id and su.student_id = #{studentId} and uv.unit_id = #{unitId}
        AND v.id
        =
        uv.vocabulary_id AND v.delStatus = 1
        and v.id not in (select word_id from voice where student_id = #{studentId} and unit_id = #{unitId} and type = 1)
    </select>
    <select id="selectUnlearnInBookPlayer" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="unite_Column_List"/>
        from unit_vocabulary u,
        vocabulary v
        where u.vocabulary_id = v.id
        and v.delStatus = 1
        and u.unit_id = #{unitId}
        and v.id not in (
        select word_id from player where student_id = #{studentId} and unit_id = u.unit_id and type = 2
        )
        order by v.id asc
    </select>
    <select id="selectByCourseIdNotInWord" resultMap="BaseResultMap" parameterType="map">
        SELECT
        distinct <include refid="unite_Column_List"/>
        FROM vocabulary v, unit_vocabulary uv, unit u
        WHERE v.delStatus = 1 AND v.id = uv.vocabulary_id AND u.id = uv.unit_id AND
        u.course_id = #{courseId}
        <if test="wordMapList.size > 0">
            and v.word not in (
            <foreach collection="wordMapList" item="map" separator=",">
                #{map.word}
            </foreach>
            )
        </if>
        group by v.id
    </select>
    <select id="selectByWord" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from vocabulary where binary word = #{word} limit 1
    </select>
    <select id="selectWordByCourseId" resultType="java.util.Map" parameterType="map">
        SELECT
        distinct
        v.word, uv.word_chinese wordChinese
        FROM vocabulary v, unit_vocabulary uv, unit u
        WHERE v.delStatus = 1 AND v.id = uv.vocabulary_id AND u.id = uv.unit_id AND
        u.course_id = #{courseId}
        <if test="wordIds.size > 0">
            and v.id not in (
            <foreach collection="wordIds" item="id" separator=",">
                #{id}
            </foreach>
            )
        </if>
        limit #{limitStart}, #{limitEnd}
    </select>
    <select id="selectPictureWordFromLearned" resultType="java.util.Map" parameterType="map">
        SELECT a.id,
               a.word,
               a.word_chinese,
               a.recordpicurl
        FROM vocabulary a,
             learn l
        where a.id = l.vocabulary_id
          and a.recordpicurl is not null
          and student_id = #{studentId}
        limit #{limit}
    </select>
    <select id="selectPictureWord" resultType="java.util.Map" parameterType="map">
        SELECT v.id,
               v.word,
               uv.word_chinese,
               v.recordpicurl,
               v.sound_mark
        FROM vocabulary v,
             unit_vocabulary uv
        WHERE v.id = uv.vocabulary_id
          AND uv.unit_id = #{unitId}
          AND v.recordpicurl is not NULL
          AND v.delStatus = 1
        LIMIT #{plan}, 1
    </select>

    <select id="selectByStartUnitIdAndEndUnitId" resultMap="BaseResultMap" parameterType="map">
        select t.id,
               t.word,
               t.word_chinese,
               t.example_english,
               t.example_chinese,
               t.explain_,
               t.create_time,
               t.update_time,
               t.course_unit,
               t.syllable,
               t.delStatus,
               t.recordpicurl,
               t.read_url
        from (select v.id,
                     v.word,
                     uv.word_chinese,
                     if(uv.word_chinese like '%.%' and (LENGTH(SUBSTRING_INDEX(uv.word_chinese, '.', 1)) > 6), 1, 0) i,
                     v.example_english,
                     v.example_chinese,
                     v.explain_,
                     v.create_time,
                     v.update_time,
                     v.course_unit,
                     v.syllable,
                     v.delStatus,
                     v.recordpicurl,
                     v.read_url
              from unit_vocabulary uv,
                   vocabulary v
              where v.id = uv.vocabulary_id
                and uv.unit_id >= #{startUnitId}
                and uv.unit_id &lt;= #{endUnitId}
                and uv.word_chinese not like '%……%') t
        where t.i = 0

    </select>
    <select id="selectByCourseIdWithoutWordIds" resultMap="BaseResultMap" parameterType="map">
        select t.id, t.word, t.word_chinese, t.example_english,
        t.example_chinese,
        t.explain_,
        t.create_time,
        t.update_time,
        t.course_unit,
        t.syllable,
        t.delStatus,
        t.recordpicurl,
        t.read_url from (
        SELECT
        v.id, v.word, uv.word_chinese, v.example_english,
        v.example_chinese,
        v.explain_,
        v.create_time,
        v.update_time,
        v.course_unit,
        v.syllable,
        v.delStatus,
        v.recordpicurl,
        v.read_url,
        if(uv.word_chinese like '%.%' and (LENGTH(SUBSTRING_INDEX(uv.word_chinese, '.', 1)) > 6), 1, 0) i
        FROM vocabulary v, unit_vocabulary uv, unit u
        WHERE v.delStatus = 1 AND v.id = uv.vocabulary_id AND u.id = uv.unit_id AND
        u.course_id = #{courseId}
        <if test="vocabularies.size > 0">
            and v.id not in (
            <foreach collection="vocabularies" item="item" separator=",">
                #{item.id}
            </foreach>
            )
        </if>
        and
        uv.word_chinese not like '%……%'
        group by v.id) t where t.i = 0
    </select>

</mapper>
